<div class="center-align col s6 m4"> 
  <div class="employee-container z-depth-1-">
     <div class="employee-photo z-depth-1- circle light-bg "></div>
      <h3><%= employee.full_name %></h3>
      <h4><i class="<%= employee.owner? ? 'secondary-text' : 'grey-text text-darken-2'%>"><%= employee.job_occupation %></i></h4>
      <p class="left-align"><%= employee.description %></p>
  </div>
</div>