<div class="center-align col s6 m3"> 
	<div class="employee-container z-depth-1-">
	   <div class="employee-photo z-depth-1- circle- light-bg "></div>
	    <h3><%= link_to partner.name, partner.seo.friendly_id %></h3>
	    <h4><i class="grey-text text-darken-2"><%= partner.short_address %></i></h4>
	    <p class="left-align"><%= partner.category.name %></p>
	</div>
</div>