


<li class="collection-item switcher card no-shadow photo hoverable panel-expendable" style="border:bottom:2px solid transparent;">
<%= render partial: 'service_header', locals: {service: service} %>
      
      <a href="#test411-" class="close right right-align extra-content-switcher "><i class='material-icons right left-align switcher_icon'>expand_more</i><span class="switcher_text">rozwiń</span></a>
    
    <div class="col s12 l6 offset-s3- offset-l2- extra-content">
  <!-- tabs -->  
        <div class="row">
          <div class="col s12">
            <ul class="tabs hide">
              <li class="tab col s3"><a class="active hide" href="#test1">Opis</a></li>
              <li class="tab col s3"><a  href="#test2">Opinie</a></li>
              <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
              <li class="tab col s3 close right-align"><a href="#test4"><i class='material-icons close right'>close</i></a></li>
            </ul>
          </div>
          <div id="test1" class="col s12"><%= service.description %> </div>
          <div id="test2" class="col s12 hide">Test 2</div>
          <div id="test3" class="col s12 hide">Test 3</div>
          <div id="test4" class="col s12 hide">Test 4</div>
        </div>
       
      </div>
<!-- end tabs -->
    <div class="col s12 l6 row grey- lighten-3 bonus-frame- extra extra-m- content hide-on-small-only- extra-content">
      

      <% if service.any_discount? %>
    <%= render partial: 'discount', locals: {service: service} %>
    <% end %>
  

      
      <div class="col s12 l12s row">

        <%= form_with url: service_cart_items_path(service, @cart_item), method: :post do |f| %>
       

        <% if service.any_discount? %>
          <div class="col s4 l4 center-align" style="border-top:2px solid #00acc1; padding-top: 4px !important">
        <% else %>
          <div class="col s4 l4 center-align" style="padding-top: 4px !important">
        <% end %>
          
        
          <%= f.button "rezerwuj", class: "btn secondary open_modal", value: :booking, name: 'cart_item[kind_of_booking]' %>
         
          </div>
          <div class="col s8 l8 center-align right-col btn-flat  lighten-3" style="border-top:2px solid #ff7b25-; padding-top:4px !important; ">
            <%= f.button "", class: "btn primary open_modal", value: :prepayment, name: 'cart_item[kind_of_booking]' do %>
              <i class="material-icons left hide-on-small-only">shopping_cart</i>dodaj do koszyka
            <% end %>
        
          </div>
          <% end %>  
      </div>

  

        


  
  

</div></div>     
</li>