<ul class="collapsible collapsible-arrow secondary-collapsible hide-" data-collapsible="expandable" id="category-list">
  <li class="category-item active">
    <div class="collapsible-header grey lighten-5">
      <h3 class="category-title"><%= services_group.name %></h3>
      <i class="caret-child material-icons">keyboard_arrow_down</i>
    </div>
    <div class="collapsible-body secondary-collapsible-body">
        <ul class="collection ">
             <!-- services area-->
            <% services_group.services.each do |service|  %>
              <%= render partial: 'service', locals: {service: service} %>
            <% end %>

          <!-- end services area-->
        </ul>
    </div>
  </li>
</ul>

          