  <div class="row bottom-line- ">
    <div class="col s12 l6">
        <div class="col s5 l4">
      <img src="" alt="" class="responsive-img circle square grey lighten-1">
    </div>
    <div class="col s7 l8 right-col photo-padding switcher-handler-">
      <h4 class="title"><%= service.name %> </h4>
      <p><span class="grey-text"><%= humanize_duration(service.duration) %></span><br>
        <span class="grey-text">usługa 1-wizytowa</span><br>

        <div class="col s12 l12 center-align-"><% if controller.class.to_s == 'SeoController' %> <b><span class="price"><%= price_to_h(service.price) %></span></b> <% end %></div>
       
      </p> 

    </div>
  </div>