
<%= current_cart %>
<% current_business_cart %>


<!-- Breadcrumbs do-->      
<%= breadcrumb do %>
  <%= breadcrumb_item "rezervi™", root_path %>
  <%= breadcrumb_item @company.city.name, @company.city.seo.friendly_id %>
  <%= breadcrumb_item @company.category.name, @company.category.seo.friendly_id %>
  <%= breadcrumb_item @company.name %>
<% end %>
<!-- Breadcrumbs end-->


<!-- Header Image-->
  <div class="primary_container">
      <div class="section">
        <div class="row">
          <!-- Left Col-->
          <div class="col s12 m12 l12" >
            <div class="block">
              <div class="card-empty sidebox" style="" >
                <!-- Slider-->
                <div class="container-">
                  <div class="carousel carousel-slider center with_arrows" data-indicators="true">
                    <div class="carousel-fixed-item right-">
                      <a class="btn waves-effect white grey-text darken-text-2 right ">Galeria</a>
                    </div>
                    <div class="carousel-fixed-item center middle-indicator">
                     <div class="left">
                      <a href="Wstecz" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
                     </div>
                     
                     <div class="right">
                     <a href="Dalej" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
                     </div>
                    </div>
                    <div class="carousel-item red- light-bg white-text" href="#one!">
                      <h2>First Panel</h2>
                      <p class="white-text">This is your first panel</p>
                    </div>
                    <div class="carousel-item amber white-text" href="#two!">
                      <h2>Second Panel</h2>
                      <p class="white-text">This is your second panel</p>
                    </div>
                    <div class="carousel-item green white-text" href="#three!">
                      <h2>Third Panel</h2>
                      <p class="white-text">This is your third panel</p>
                    </div>
                    <div class="carousel-item blue white-text" href="#four!">
                      <h2>Fourth Panel</h2>
                      <p class="white-text">This is your fourth panel</p>
                    </div>
                  </div>

                </div>
                <!-- end Slider-->
              </div>
            </div>
          </div>
        <!-- end Left Col-->
        
      </div>
    </div>
  </div>

<!-- end Header Image-->

<!-- Header-->
   <div class="primary_container">
    <div class="section- block  " style="position:relative;">

      <div class="card-empty">
        <div class="row">
          <div class="col s12 l9">
            <div class="company-logo z-depth-1- circle light-bg"></div>
            <h1><%= @company.name %></h1>
            <div><i class="material-icons tiny grey-text">location_on</i><i class="grey-text text-darken-2"><%= @company.address %></i></div>
          </div>
          <div class="col s12 l3">
            <div class="right s-left">
              <b class="rating">5,0</b>
              <i class="material-icons small yellow-text text-darken-2">star</i>
              <i class="material-icons small yellow-text text-darken-2">star</i>
              <i class="material-icons small yellow-text text-darken-2">star</i>
              <i class="material-icons small yellow-text text-darken-2">star</i>
              <i class="material-icons small yellow-text text-darken-2">star</i><br>
               na podstawie <a hef="#">325 opinii</a> 

               <br><br>

            </div>

            
          </div>
         
          <div class="col s12 l3 push-l9">

         


              <div style="margin-left:20px;">
               <div class="right-align- s-left-  ">
                   <i class="material-icons small secondary-text text-darken-2-">star</i> jakość usług <b class="rating- left- right"><span class="secondary-text">5,0</span> / 5</b> 
                     <div></div>
                  </div>
               <div class="right-align- s-left- ">
                   <i class="material-icons small secondary-text">mood</i> obsługa klienta <b class="rating- left- right"><span class="secondary-text">5,0</span> / 5</b>
                     <div></div>
                  </div>
               <div class="right-align- s-left- ">
                    <i class="material-icons small secondary-text ">local_offer</i> ceny usług <b class="rating- left- right"><span class="secondary-text">5,0</span> / 5</b>
                     <div></div> 
                  </div>
                  
                  <div class="right-align- s-left- ">
                  <i class="material-icons small secondary-text text-darken-2-">timer</i> terminowość i punktualność  <b class="rating- left- right"><span class="secondary-text">5,0</span> / 5</b>
                     <div></div> 
                  </div>
                </div> 
                
                



        </div>

         <div class="col s12 l9 pull-l3">
          <%= @company.description %>
  

          #Oferta / #Pracownicy/ #Partnerzy lokalni/ #Opinie
          </div>
        
        
      </div>
    </div>
  </div>

<!-- end Header-->

<!-- Offer-->
  <div class="primary_container">
      <div class="section">
        <div class="row">
          <!-- Left Col-->
          <div class="col s12 m12 l9" >
            <div class="block">
              <div class="card sidebox-" style="" >
                <h2 style="display:inline-block;">Oferta</h2>
                
              </div>
              <div class="card sidebox- card-zero-pad" style="" >
                  <!--  categories of services -->
                    <% @company.services_groups.order(order: "asc").each do |services_group|  %>
                      <%= render partial: "services_groups", locals: {services_group: services_group} %>
                    <% end %>
                  <!-- end categories of services -->
              </div>
            </div>
            <div class="block">
              <div class="card sidebox-" style="" >
                <h2>Pracownicy</h2>
                  <!--  employees -->
                    
                    <div class="slick-slider- responsive- row">
                      <% @company.employees.order(owner: "desc", receive_reservation: "desc").each do |employee|  %>
                        <%= render partial: "employee", locals: {employee: employee} %>
                      <% end %>

                      
                    </div>
                  <!-- end employees -->
              </div>
            </div>
            <div class="block">
              <div class="card sidebox-" style="" >
                <h2>Partnerzy lokalni w mieście <%= link_to @company.city.name, @company.city.seo.friendly_id %></h2>
                  <!--  partners -->

                    <div class="slick-slider- responsive- row">
                      
                      <% @company.all_partners.each do |partner|  %>
                        <%= render partial: "partner", locals: {partner: partner} %>
                      <% end %>

                    </div>
                  <!-- end partners -->
              </div>
            </div>
            <div class="block">
              <div class="card sidebox-" style="" >
                <h2>Opinie</h2>
                  <!--  opinions -->
                   <div class="right- s-left=">
                    <b class="rating">5,0</b>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i><br>
                     na podstawie <a hef="#">325 opinii</a> 
                  </div>


                  <ul class="collection">
                    
                      <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><div class="right- s-left=">
                    <b class="rating">5,0</b>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i>
                    <i class="material-icons small yellow-text text-darken-2">star</i><br>
                    
                  </div></a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                    </ul>
                  <!-- end opinions -->
              </div>
            </div>
          </div>
        <!-- end Left Col-->
        <!-- Right Col-->
          <div class="col s12 m12 l3" >
            <div class="block">
              <div class="card sidebox-" style="" >
                <h2>Godziny otwarcia</h2>
                  <!--  opening houres -->
                         <span class="grey-text inline3"><i class="material-icons grey-text-">access_time</i> Godziny otwarcia</span><br>
                        <div class="grey-text- row card- pad1">
                          <div class="col s6 center-align- ">
                            <span class="secondary-text">Teraz otwarte</span>
                            <span class="grey-text">Zamknięcie za</span>
                          </div> 
                          <div class="col s6 center-align-"><br> <span id="countdown"></span><br></div>
                        </div>
                        <div class="grey-text- row card- pad1">
                          <div class="col s6"><b>Dzisiaj</b></div> <div class="col s6"><b>7:30 - 15:30</b></div>

                          <div class="col s6"><b>Poniedziałek</b></div> <div class="col s6"><b>7:30 - 15:30</b></div>
                          <div class="col s6">Wtorek</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Środa</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Czwartek</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Piątek</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Sobota</div> <div class="col s6"> 7:30 - 14:30</div>
                          <div class="col s6">Niedziela</div> <div class="col s6"> <i class="grey-text">nieczynne</i></div>
                          
                        </div>
                      

                  <!-- end opening houres -->
              </div>
            </div>

            <div class="block">
              <div class="card sidebox-" style="" >
                <h2></h2>
                  <!--  opening houres -->
                           

                  <!-- end opening houres -->
              </div>
            </div>
          </div>
        <!-- end Right Col-->
        
        
      </div>
    </div>
  </div>

<!-- end Offer -->

