<% content_for :menu do %> <%= render 'layouts/navbar'%> <% end %>
<%= current_cart %><br> typ:<%= current_cart.kind_of_booking %> elem:<%= current_cart.cart_size %>
<br>
<% current_cart.cart_items.each do |item| %>
<%= item %><%= item.kind_of_booking%> <%= item.current_step %> <br>
<% end %>

<% current_business_cart %>


<!-- Breadcrumbs do-->      
<%= breadcrumb do %>
  <%= breadcrumb_item "rezervi™", root_path %>
  <%= breadcrumb_item @company.city.name, @company.city.seo.friendly_id %>
  <%= breadcrumb_item @company.category.name, @company.category.seo.friendly_id %>
  <%= breadcrumb_item @company.name %>
<% end %>
<!-- Breadcrumbs end-->

<!-- Header Slider >>> -->
<div class="container">
  
  <div class="carousel carousel-slider carousel-header center with_arrows" data-indicators="true">
    <div class="carousel-fixed-item right-">
      <a class="btn waves-effect white grey-text darken-text-2 right hide">Galeria</a>
    </div>
    <div class="carousel-fixed-item center slider-arrow">
         <div class="left">
     
       <a href="Wstecz" class="movePrevCarousel slider-arrow-btn btn-floating waves-effect- waves-light-"><i class="material-icons" style="position:relative; top:-10px">chevron_left</i></a>
     </div>
     
     <div class="right">
       <a href="Dalej" class="moveNextCarousel slider-arrow-btn btn-floating waves-effect- waves-light-"><i class="material-icons" style="position:relative; top:-10px">chevron_right</i></a>
     </div>
    </div>
    <div class="carousel-item red- grey lighten-2 white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>


</div>

<!-- end Header Image-->

<div class="container">
  <div class="company-logo-wrapper">
    <div class="company-logo grey lighten-2"></div>
  </div>
</div>

<!-- Container >>> -->
<div class="container">
  <div class="row no-mar-bottom">
    <div class="col s12 l9 red- lighten-4">
      <div class="panel empty no-mar-bottom-" >
      <h1 class="bottom0"><%= @company.name %></h1>
      <div><i class="material-icons bigger grey-text">location_on</i><em class="grey-text bigger text-darken-2"><%= @company.address %></em></div>
      
      <p><%= @company.description %></p>
      </div>
    </div>
    <div class="col s12 l3 blue- lighten-4">
      <div class="panel white- empty" >
        <div class="right-align s-left">
          <b class="rating">5,0</b>
          <i class="material-icons rating-star small yellow-text text-darken-2">star</i>
          <i class="material-icons rating-star small yellow-text text-darken-2">star</i>
          <i class="material-icons rating-star small yellow-text text-darken-2">star</i>
          <i class="material-icons rating-star small yellow-text text-darken-2">star</i>
          <i class="material-icons rating-star small yellow-text text-darken-2">star</i><br>
          ocena ogólna na podstawie <a hef="#">325 opinii</a> 
      </div>
       <table>
            <tr>
               <td>jakość usług </td>
               <td style="white-space: nowrap;">
                  <b class="rating-">5,0/5</b>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i><br>
              </td>
            </tr>
            <tr>
               <td>obsługa klienta </td>
               <td style="white-space: nowrap;">
                  <b class="rating-">5,0/5</b>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i><br>
              </td>
            </tr>
            <tr>
               <td>jakość a cena </td>
               <td style="white-space: nowrap;">
                  <b class="rating-">5,0/5</b>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i><br>
              </td>
            </tr>
            <tr>
               <td>terminowość i&nbsp;punktualność </td>
               <td style="white-space: nowrap;">
                  <b class="rating-">5,0/5</b>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i>
                  <i class="material-icons mini-rating-star small yellow-text text-darken-2">star</i><br>
              </td>
            </tr>
          </table>
    </div>
  </div>
</div>
</div>
<!-- <<< Container --> 


<!-- Container >>> -->
<div class="container">
  <div class="row">
    <div class="col s12 l9 red- lighten-4">
        <ul class="panel collapsible collapsible-arrow primary-collapsible hide-" data-collapsible="expandable">
          

          <li class="active" id="wrapper-col">
            <div class="collapsible-header" id="navbar-col"><h2 id="#test1">Oferta</h2> 
              <i class="caret material-icons">keyboard_arrow_down</i>
            </div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6 l3 left-align">
                  <select  id="category-filter">
                    <option value="all" selected>Wszystkie kategorie</option>
                    <option value="Kategoria 1">Kategoria 1</option>
                    <option value="Lorem ipsum (1 lorem)">Lorem ipsum (1 lorem)</option>
                    <option value="3">Option 3</option>
                  </select>
                  <label>Materialize Multiple Select</label>
                </div>
                <div class="col s6 l3 offset-l6 right-align">
                 <select>
                  <option value="" disabled- selected>Sortuj</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="33">Option 3</option>
                </select>
                <label>Materialize Select</label>
                </div>
              </div>
                <!-- second collapsible -->

                
                  <!--  categories of services -->
                    <% @company.services_groups.order(order: "asc").each do |services_group|  %>
                      <%= render partial: "services_groups", locals: {services_group: services_group} %>
                    <% end %>
                  <!-- end categories of services -->

                  
                     
                  

                <!-- end second collapsible -->
            </div>
          </li>
          <li class="active" id="wrapper-col">
            <div class="collapsible-header" id="navbar-col"><h2 id="#test1">Pracownicy</h2> 
              
              <i class="caret material-icons">keyboard_arrow_down</i>
            </div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12 ">
                  <!--  slider of emloyess -->
                    <div class="slick-slider responsive">
                      <div class="center-align "> 
                        <div class="employee-container z-depth-1">
                           <div class="employee-photo z-depth-1- circle light-bg "></div>
                            <h3>Jan Kowalski</h3>
                            <h4><span class="grey-text text-darken-2">Fryzjer, stylista</span></h4>
                            <p class="left-align">Kilka słow o mnie. Uwielbiam swój zawód.</p>
                        </div>
                      </div>
                     <div class="center-align "> 
                        <div class="employee-container z-depth-1">
                           <div class="employee-photo z-depth-1- circle light-bg "></div>
                            <h3>Jan Kowalski</h3>
                            <h4><span class="grey-text text-darken-2">Fryzjer, stylista</span></h4>
                            <p class="left-align">Kilka słow o mnie. Uwielbiam swój zawód.</p>
                        </div>
                      </div>
                      <div class="center-align "> 
                        <div class="employee-container z-depth-1">
                           <div class="employee-photo z-depth-1- circle light-bg "></div>
                            <h3>Jan Kowalski</h3>
                            <h4><span class="grey-text text-darken-2">Fryzjer, stylista</span></h4>
                            <p class="left-align">Kilka słow o mnie. Uwielbiam swój zawód.</p>
                        </div>
                      </div>
                      <div class="center-align "> 
                        <div class="employee-container z-depth-1">
                           <div class="employee-photo z-depth-1- circle light-bg "></div>
                            <h3>Jan Kowalski</h3>
                            <h4><span class="grey-text text-darken-2">Fryzjer, stylista</span></h4>
                            <p class="left-align">Kilka słow o mnie. Uwielbiam swój zawód.</p>
                        </div>
                      </div>
                      <div class="blue">your content</div>
                      <div class="purple">your content</div>
                      <div class="orange">your content</div>
                    </div>
                  <!-- end slider of emloyess -->
                </div>
              </div>
            </div>
          </li>

        </ul>
     
    </div>
    <div class="col s12 l3 red- lighten-4">
      <div class="panel white panel-border" >
        <h2>Godziny otwarcia </h2>
        <!--  opening houres -->
                         <span class="grey-text inline3 hide"><i class="material-icons grey-text-">access_time</i> Godziny otwarcia</span><br>
                        <div class="grey-text- row card- pad1-">
                          <div class="col s6 center-align- ">
                            <span class="secondary-text">Teraz otwarte</span>
                            <span class="grey-text">Zamknięcie za</span>
                          </div> 
                          <div class="col s6 center-align-"><br> <span id="countdown"></span><br></div>
                        </div>
                        <br>
                        <div class="grey-text- row card- pad1">
       

                          <div class="col s6"><b>Poniedziałek</b></div> <div class="col s6"><b>7:30 - 15:30</b></div>
                          <div class="col s6">Wtorek</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Środa</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Czwartek</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Piątek</div> <div class="col s6"> 7:30 - 15:30</div>
                          <div class="col s6">Sobota</div> <div class="col s6"> 7:30 - 14:30</div>
                          <div class="col s6">Niedziela</div> <div class="col s6"> <i class="grey-text">nieczynne</i></div>
                          
                        </div>
                      

                  <!-- end opening houres -->
      </div>
      <div class="panel white panel-border " >
        <h2>Twój koszyk </h2>
      </div>
    </div>
  </div> 
</div>

                    


<div class="container-progress-step vertical-align- hide" style="z-index:999;" >
                                            <ul class="progress-step three-step- four-step">
                                                <li class="active1"> <i class="material-icons icon " style="">local_offer</i>Rodzaj rezerwacji</li>

                                                <li class="active1-"><i class="material-icons icon" style="">account_circle</i> Konto</li>
                                                <li class="active1-"><i class="material-icons icon" style="">account_circle</i> Konto</li>
                                                <li ><i class="material-icons icon" style="">monetization_on</i> Potwierdzenie</li>
                                            </ul>
                                          </div>

