<div id="cart_content" class="">
	

              		
	<% if current_business_cart && current_business_cart.cart_size > 0 %>


	
    <div class="container-progress-step vertical-align- hide" style="z-index:999;" >
        <ul class="progress-step three-step">
            <li class="active1"> <i class="material-icons icon small" style="">shopping_basket</i>Twój Koszyk</li>

            <li class="active1-"><i class="material-icons icon" style="">account_circle</i> Konto</li>
            <li ><i class="material-icons icon" style="">monetization_on</i> Potwierdzenie</li>
        </ul>
    </div>



      
	<div class="container ">
	    <div class="section row ">
	      <ul class="collection col s12 ">
	          <li class="collection-item text hide-on-med-and-down  " style="display:block-inline;">
	          	<div class="row secondary- ">
	              <div class="col s12 m2 l3 margin-bottom-10 ">
	                <span class="title ">Usługa</span>
	              </div>
	              <div class="col s12 m5 l4">
	                <div class="input-field ">
	                  <span class="title ">Czas trwania</span>
	                </div>
	              </div>
	              <div class="col s12 m2 l2">
	                <div class="right dark-text- hide-on-med-and-up-"><span class="title ">Cena netto</span></div><div class="right-align"></div>
	              </div>
	              <div class="col s12 m2 l2 ">
	                <div class="right dark-text- hide-on-med-and-up-"><span class="title ">Cena brutto</span></div>
	              </div>
	            </div>
	            
	            <div class="col s12 m2 l1">
	              
	            </div>
	        </li>
	          <% current_business_cart.business_cart_items.each do |item| %>
	          
	          <li class="collection-item text " id="<%=item.id%>">
	            
	            <div class="row padding-15 ">
	              <div class="col s12 m2 l3 margin-bottom-10 cart-valign">
	                <span class="title ">Pakiet <b><%= item.plan.name %></b></span>
	              </div>
	              <div class="col s12 m5 l4 select-valign">
	                <div class="input-field ">
	                	 <%= price_for_human(item.subscription.total_price) %>
	                  <%= item.subscription.time %>
	                  <%= item.subscription.calculate_time %>
				      <%= form_with model: item, action: :update do |f| %>
				            <%= f.collection_select(:subscription_id, item.plan.subscriptions, :id, :calculate_time_to_human, {}, {onchange: 'Rails.fire(this.form, "submit")'}) %>
				             
				            <% if item.period == 'test' %>
				                <% f.select :period, options_for_select(
				              select_all_time_options_plan) %>
				            <% else %>
				                  <% f.select :period, options_for_select(
				              select_pay_time_options_plan) %>

				            <% end %> 
				            <% f.submit %>
				      <% end %>
	                </div>
	              </div>
	              <div class="col s12 m2 l2 cart-valign">
	                <div class="left dark-text hide-on-med-and-up">Cena netto</div><div class="right-align"><%= price_netto(item.subscription.price) %></div>
	              </div>
	              <div class="col s12 m2 l2 cart-valign">
	                <div class="left dark-text hide-on-med-and-up">Cena brutto</div><div class="right-align price"><%= price_for_human(item.subscription.price) %></div>
	              </div>
	            </div>
	            
	            <div class="col s12 m2 l1 cart-valign">
	              <%= link_to business_cart_item_path(item), method: :delete, remote:true, data:{turbolinks: false}, class: 'secondary-content' do %>
						<b><i class="material-icons clear">clear</i></b>
						<% end %>
	            </div>
	          </li>
	          <% end %>

	          
	        </ul>
	    </div>
	</div>

	<div class="container row light-bg z-depth-1- ">
	    <div class="section light-bg- ">
	      <ul class="collection col s12 l6 light-bg- borderless container-margin-10">
	          <li class="collection-item- text- ">
	            
	            <a class="btn-floating btn-large white- waves-effect waves-grey btn-flat "><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35px" height="56px"  version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
	          viewBox="0 0 2.05 1.74"
	           xmlns:xlink="http://www.w3.org/1999/xlink">
	           <defs>
	            <style type="text/css">
	             <![CDATA[
	              .fil0 {fill:none}
	              .fil1 {fill:#ff7b25 }
	              .fil2 {fill:#00acc1}
	             ]]>
	            </style>
	           </defs>
	           <g id="Warstwa_x0020_1">
	            <metadata id="CorelCorpID_0Corel-Layer"/>
	            
	            <path class="fil1" d="M1.52 0.64l-0.41 -0.6c-0.01,-0.03 -0.04,-0.04 -0.07,-0.04 -0.03,0 -0.06,0.01 -0.08,0.04l-0.4 0.6 -0.44 0c-0.05,0 -0.09,0.04 -0.09,0.09 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.05 -0.04,-0.09 -0.09,-0.09l-0.44 0zm-0.76 0l0.28 -0.4 0.27 0.4 -0.55 0z"/>
	            <circle class="fil2" cx="1.04" cy="1.2" r="0.54"/>
	            <path class="fil1" d="M0.08 0.65c-0.03,0.01 -0.05,0.05 -0.05,0.08 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.03 -0.02,-0.07 -0.05,-0.08l-1.92 0z"/>
	           </g>
	          </svg></a>&nbsp;&nbsp;&nbsp;<b>Podsumowanie</b>
	          </li>
	        </ul>
	    </div>
	    <div class="section row col s12 m6 l6 red- ">
	      <ul class="collection col s12 light-bg- borderless container-margin-10">
	          <li class="collection-item- text- ">
	            
	            <div class="left dark-text">Netto</div><div class="right-align"><%= price_netto(current_business_cart.total_price) %></div>
	          <div class="left dark-text">VAT</div><div class="right-align"><%= price_vat(current_business_cart.total_price) %></div>
	          <div class="left dark-text">Do zapłaty</div><div class="right-align total-price"> <%= price_for_human(current_business_cart.total_price) %>
	          	<br>,<span class="grosz">00</span> zł</div>
	          <br><div class="center-align">
	          	</div>
	          </li>
	        </ul>
	    </div>
	    
	</div>

	<div class="container row">
		<br><div class="section col s12 red- left">
		    <%= link_off_tbl 'Wstecz', '/biznes/cennik' do %> <% end %>&nbsp;&nbsp;&nbsp;
		    <%= link_to new_manager_registration_path, class: "btn btn-large right" do %>
		    	<i class="material-icons left">chevron_right</i> Dane klienta 
		    <% end %>
		          	
		</div>
	</div>



	  

	

	<script>
	$(document).ready(function(){
	    $('select').formSelect();
	    $('.pushpin').pushpin();
	  });
	</script>
	</div>

		
	<% else %>
	<%= link_off_tbl 'Wstecz', '/biznes/cennik' %>
	<br>

	Twój koszyk jest pusty

	<% end %>



        


    

    
