<% content_for :menu do %> <%= render 'layouts/business_navbar_step_progress'%> <% end %>
<div class="light-bg- container-">
	<div class="margin-10- white-">
	<h1 class="dark-text "><div class="section-title dark-text"><span class="">Twój</span> koszyk</div></h1>
	<div id="cart_content-"><%= render 'cart' %></div>
	</div>
</div>
