<% content_for :menu do %> <%= render 'layouts/business_navbar'%> <% end %>
<h1>BusinessCarts#show</h1>

<h1>Koszyk</h1>
<%= session[:business_cart_id] %>
<%= cookies.encrypted[:business_cart_id] %><br>
Size: <%= current_business_cart.cart_size rescue'Twój koszyk jest pusty' %>

<%= link_off_tbl 'Wstecz', '/biznes/cennik' %>
<br>
<%= current_business_cart.business_cart_items.each do |item| %>

<%= item.id %> | <b><%= item.plan.name %></b> | <%= item.quantity %> | <%= item.plan.price %><br>
<% end %>
