//alert('ok');
$('#business_cart').replaceWith('<%= j render "layouts/svgs/cart" %>');
$('#plan_<%=@plan.id%>').replaceWith('<%= j render @plan %>');
$('#plans_area').replaceWith('<%= j render @plans %>');
  $('select').formSelect();
  $('.dropdown-trigger').dropdown();
  $('.sidenav').sidenav();
  $('.modal').modal();

 $('.tooltipped').tooltip({delay: 50});