//alert('ok');
//$('#business_cart').replaceWith('<%= j render "layouts/svgs/cart" %>');

$('#cart_content').replaceWith('<%= j render "business_carts/cart" %>');
  $('select').formSelect();
  $('.dropdown-trigger').dropdown();
  $('.sidenav').sidenav();
  $('.modal').modal();

 $('.tooltipped').tooltip({delay: 50});