                        <% content_for :menu do %> <%= render 'layouts/ambassador_navbar'%> <% end %>
                         
<br><br><br>
<div  class="center-align">

                            <svg id="check" width="100" height="110" style="background-color:red-;">

   
   <circle id="check-circle" cx="50" cy="60" r="0" stroke="gray" stroke-width="5" fill="transparent"  />
   <line id="check-line-white" x1="50" y1="60" x2="50" y2="60" style="stroke:white;stroke-width:14" transform="rotate(0  25 25)" transform="origin(50 60)" />
   
   <line id="check-line-big" x1="50" y1="60" x2="50" y2="60" style="stroke:#00acc1 ;stroke-width:5" />
   
    <line id="check-line-big-accent" x1="50" y1="60" x2="50" y2="60" style="stroke:gold; stroke-width:5" />
 
 
 
    <line id="check-line-small" x1="30" y1="60" x2="30" y2="60" style="stroke:#00acc1 ;stroke-width:5 " />
   
   <line id="check-line-small-accent" x1="30" y1="60" x2="30" y2="60" style="stroke:gold;stroke-width:5 " />
   
   
        <animate
           xlink:href="#check-circle"
           attributeName="r"
           from="4"
           to="40"
           dur="100ms"
           begin="300ms"
           fill="freeze" />
 
        <animate
           xlink:href="#check-circle"
           attributeName="stroke-width"
           from="4"
           to="10"
           dur="100ms"
           begin="400ms"
           fill="freeze" />
       
           
           <animateTransform
                xlink:href="#check-line-white"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 50 60"
                    dur="200ms"
                begin="500ms"
                    fill="freeze"/>
           
           <animateTransform
                xlink:href="#check-line-big"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 50 60"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                   
                     <animateTransform
                xlink:href="#check-line-big-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 50 60"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                   
           <animateTransform
                xlink:href="#check-line-small"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 50 60"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                   
                     <animateTransform
                xlink:href="#check-line-small-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 50 60"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                   
           <animate
           xlink:href="#check-line-small"
           attributeName="x2"
           from="30"
           to="52"
           dur="150ms"
           begin="1100ms"
           fill="freeze" />
           
            <animate
           xlink:href="#check-line-small-accent"
           attributeName="x2"
           from="30"
           to="52"
           dur="100ms"
           begin="1500ms"
            />
           
           <animate
           xlink:href="#check-line-big"
           attributeName="y2"
           from="60"
           to="2"
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
            <animate
           xlink:href="#check-line-big-accent"
           attributeName="y2"
           from="40"
           to="2"
           dur="100ms"
           begin="1700ms"
            />
           
           <animate
           xlink:href="#check-line-white"
           attributeName="y2"
           from="30"
           to="10"
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
           
           
           <animate
           xlink:href="#check-circle"
           attributeName="stroke"
           from="blue"
           to="silver"
           dur="300ms"
           begin="200ms"
           fill="freeze" />
           
            <animate
           xlink:href="#check-circle"
           attributeName="stroke"
           from="silver"
           to="#ff7b25"
           dur="300ms"
           begin="600ms"
           fill="freeze" />
   Sorry, your browser does not support inline SVG.
    </svg>

    <h2>Udało się! Aplikacja złożona.</h2>
    Dziękujemy za aplikację do naszego autorskiego programu dla NGO.<br>
    Skontaktujemy się w ciągu 2 tygodni na podany podczas aplikacji adres email.