  <% content_for :menu do %> <%= render 'layouts/ambassador_navbar'%> <% end %>






<!-- Hero Image >>> -->
<div class="hero-container hide">
  <div class="hero-image row">
    <div class="col l6 s12 hide-on-med-and-down-"><br><br></div>
    <div class="container- secondary-text secondary-bg- right-align col s12 l6 offset-l6-" style="height:100%;">
      <div class="hero-text" style="background: rgba(255,255,255,0.7); border-radius:0; padding:20px;">
        <p class="hero-subtitle secondary-text"><b>Zostań naszym Ambasadorem</b></p>
        <h1 class="black-text- secondary-text">i zyskaj dofinansowanie Twojej organizacji</h1>
      
          <a href="#target-element" class="scroll_to waves-effect waves-light btn white- red- primary- secondary right-align-l- hide"><i class="material-icons ">forward</i><span style=" ">Chcę się dowiedzieć Więcej</span></a>
      </div>
    </div>
  </div> 
</div>
<!-- <<< Hero Image -->



<!-- Adventages >>> -->

<div class="landing-page">

<div class="primary-bg white-text">

  <div class="container center-align" id=”target-element” > <div class="hide-on-med-and-up"><br><br></div>
    <h2 class=" white-text"><br><br>Dołącz do programu i&nbsp;zostań Ambasadorem Rezervi&trade;! </h2>
    <h3 class=" white-text"><br>co zyskasz? </h3><br>
    <div class="row">
    
      <div class="col s12 l4">
          <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="28.4426mm" height="26.4269mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 853.44 792.96"
             xmlns:xlink="http://www.w3.org/1999/xlink">
             <g id="Warstwa_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer"/>
          
              <g id="_443297504">
               <circle class="fil1-icon1 str0-icon1" cx="426.72" cy="359.12" r="351.18"/>
               <g>
                <ellipse class="fil0-icon1" cx="426.72" cy="731.43" rx="426.72" ry="61.53"/>
                <polygon class="fil2-icon1" points="654.44,477.95 654.55,453.17 194.13,452.88 194.49,138.13 167.77,138.06 167.81,478.9 "/>
                <polygon class="fil2-icon1" points="559.3,197.2 559.35,229.53 559.34,239.22 559.37,410.57 560.49,428.69 603.69,428.5 605.13,187.69 559.38,186.97 "/>
                <polygon class="fil2-icon1" points="491.39,428.39 537.37,428.27 537.12,225.37 491.42,224.55 "/>
                <polygon class="fil2-icon1" points="423.87,428.07 470.09,428.48 469.6,262.86 424.58,262.2 "/>
                <polygon class="fil2-icon1" points="355.98,428.19 402.17,428.5 401.75,299.88 356.05,299.84 "/>
                <path class="fil2-icon1" d="M290.1 428.74l42.11 -0.23 1.74 -91.62 -44.92 0.03c-2.03,18.38 -3.16,75.56 1.07,91.82z"/>
                <polygon class="fil2-icon1" points="220.71,428.31 266.63,428.43 266.36,374.85 220.78,374.49 "/>
               </g>
               <circle class="fil2-icon1 str1-icon1" cx="434.66" cy="527.42" r="161.86"/>
               <path class="fil1-icon1 str1-icon1" d="M434.66 631.41l-14.25 -12.97c-50.6,-45.88 -84.01,-76.15 -84.01,-113.29 0,-30.26 23.78,-54.04 54.04,-54.04 17.1,0 33.5,7.96 44.21,20.54 10.71,-12.57 27.12,-20.54 44.21,-20.54 30.26,0 54.04,23.78 54.04,54.04 0,37.14 -33.41,67.4 -84.01,113.39l-14.24 12.87z"/>
              </g>
             </g>
            </svg> <br><br>
        <h3 class="white-text"> Dofinansowanie</h3> na działalność statutową Twojej organizacji każdego miesiąca<br><br>
      </div>
      <div class="col s12 l4"> 
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="28.4426mm" height="26.4269mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 3120.95 2899.77"
           xmlns:xlink="http://www.w3.org/1999/xlink">
           <g id="Warstwa_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <ellipse class="fil0-icon2" cx="1560.48" cy="2674.77" rx="1560.48" ry="225"/>
            <g id="_457217008">
             <circle class="fil1-icon2 str0-icon2" cx="1560.48" cy="1313.26" r="1284.22"/>
             <polygon class="fil2-icon2" points="2568.21,1936.47 2561.81,1835.39 735.91,1834.97 736.38,584.81 632.14,579.56 633.17,1937.45 "/>
             <path class="fil2-icon2" d="M2404.7 772.53c-64.29,2.18 -178.43,-10.3 -213.96,19.78l-0.52 38.53c2.83,1.87 6.95,3.56 9.21,4.31 8.99,3.04 -10.6,11.53 81.21,9.28 -34.45,62.06 -107.84,132.68 -155.66,190.11 -98.34,118.09 -84.36,105.44 -146.54,125.31 -11.08,3.54 -45.66,17.25 -52.54,18.94 -37.54,9.25 -94.83,-11.36 -137.06,-23 -103.36,-28.51 -28.35,-40.08 -94.19,-73.9 -49.28,-25.31 -100.91,-2.51 -117.76,32.6 -27.82,57.9 11.88,59.32 -41.31,126.56 -26.96,34.08 -54.12,59.17 -83.32,96.59 -26.29,33.7 -55.63,48.27 -113.26,54.58 -130.14,14.23 -137.09,-119.64 -214.76,-128.25 -73.78,-8.17 -83.45,35.37 -94.28,91.18 -17.45,89.99 -179.54,215.55 -208.06,299.74l36.32 32.74c41.47,-11.84 128.05,-138.06 160.63,-180.47 69.6,-90.64 46.78,-64.89 101.95,-78.93 153.19,-38.99 189.02,77.2 209.37,97.2 27.96,27.44 82.16,33.63 116.02,-1.23 42.06,-43.34 7.76,-65.9 42.34,-124.62 20.45,-34.74 51.64,-55.22 78.08,-89.34 45.08,-58.16 19.96,-49.61 104.55,-76.34 63.07,-19.94 134.23,-15.87 204.96,14.52 58.61,25.19 10.41,2.51 47.16,43.12 35.89,39.68 83.31,47.27 124.32,12.36 52.58,-44.76 -3.22,-71.3 47.28,-133.14l235.87 -258.82c7.75,79.83 -17.98,73.72 53.02,78.77l20.91 -218.21z"/>
            </g>
           </g>
          </svg><br><br>
        <h3 class="white-text">Prestiż i Rozpoznawalność</h3> wraz ze wzrostem i rozwojem systemu Twoja marka również będzie bardziej rozpoznawana na rynku.<br><br>
      </div>
      <div class="col s12 l4">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="28.4426mm" height="26.4269mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 2334.56 2169.11"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="Warstwa_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <ellipse class="fil0-icon3" cx="1167.28" cy="2000.81" rx="1167.28" ry="168.3"/>
          <g id="_455754568">
           <circle class="fil1-icon3 str0-icon3" cx="1167.28" cy="982.35" r="960.64"/>
           <path class="fil2-icon3" d="M715.32 1178.25c64.4,-106.91 -2.27,-84.36 158.01,-109.46 49.55,-7.76 48.96,18.81 80.97,42.51 128.43,95.08 78.23,-79.22 191.78,187.8l29.47 65.56c7.66,15.6 9.95,15.87 14.01,33.12 -68.21,86.91 -57.18,67.17 -169.92,-7.76 -43.39,-28.84 -279.19,-179.36 -304.32,-211.77zm653.19 214.26c-41.15,35.16 -83.85,10.23 -117.41,-26.32 -14.95,-16.29 -90.88,-187.25 -101.66,-212.85 -15.39,-36.53 -13.71,-39.28 8.68,-72.12 28.74,-42.15 49.34,-32.44 161.2,-20.43 279.89,30.04 234.81,0 266.83,77.11 4.32,10.37 3.22,7.46 8.4,15.4 9.72,14.86 10.28,8.23 16.25,30.88 -17.47,23.24 -115.12,100.34 -143.6,123 -11.66,9.28 -16.28,16.5 -27.72,25.72l-70.98 59.6zm284.05 -795.34c1.67,29.33 12.34,75.89 17.57,106.64 5.86,34.45 12.38,75.35 16.8,107.75 18.33,134.2 33.46,120.06 -26.85,148.58 -82.37,38.96 -23.93,82.34 -200.47,55.09l-220.42 -22.86c-8.77,-1.07 -46.84,-5.14 -54.66,-10.51 -9.17,-6.31 -17.75,-26.9 -17.1,-41.15 0.66,-14.45 3.73,-15.08 11.15,-22.63l84.53 -70.07c6.97,-6.1 8.29,-8.33 15.48,-14.16 8.56,-6.94 6.99,-4.38 16.95,-12.71 23.56,-19.73 39.89,-35.11 64.49,-54.14l99.86 -84.1c100.75,-79.22 98.68,-105.01 192.67,-85.72zm-1002.38 349.13c0.93,-32.54 63.13,-197.45 78.27,-247.45 4.79,-15.79 8.24,-31.84 14.51,-50.61 15.72,-47.1 10.27,-57.44 49.43,-81 38.86,10.78 42.4,38.77 57.06,73.29l59.08 130.84c67,138.04 54.09,102.74 19.61,168.91 -38,72.96 -7.85,60.95 -113.27,76.34 -99.37,14.51 -65.28,-5.36 -164.69,-70.33zm409.2 -70.86c-43.14,0.11 -60.21,-54.87 -73.27,-86.63 -17.01,-41.34 -32.1,-70.88 -49.02,-111.12 -29.19,-69.39 -114.48,-186.99 15.5,-186.98l515.54 -0.51c52.56,82.37 25.1,79.32 -1.45,104.59l-294.23 245.62c-74.71,60.92 -48.19,34.88 -113.06,35.02zm330.76 674.38c10.33,-59.36 -35.18,-64.68 29.92,-117.68l212.78 -178.74c14.71,-10.97 28.9,-24.57 47.26,-29.86 45.3,-13.06 98.54,16.48 157.54,-79.82 69.83,-113.98 -64.21,-177.14 -77.15,-203.76l-43.83 -270.44c-2.72,-18.77 -7.38,-42.97 -10.81,-66.8 -10.92,-75.86 26,-53.61 35.06,-113.69 10.43,-69.15 -10.7,-125.55 -73.9,-155.81 -36.99,-17.71 -98.4,-11.75 -129.83,5.68 -38.32,21.25 -47.36,52.37 -68.87,85.71l-545.04 0.05c-20.76,-40.18 -9.63,-55.02 -45.39,-91.28 -39,-39.55 -111.49,-43.43 -157.23,-21.85 -34.71,16.38 -48.85,30.43 -65.35,65.15 -7.85,16.53 -11.67,27.99 -11.67,54.03 0,113.01 82.74,78.8 51.51,169.65l-87.99 262.27c-43.55,130.79 -33.54,60.01 -101.57,135.55 -45.83,50.89 -37.35,158.71 29.81,199.77 49.63,30.34 83.56,13.49 130.98,35.19l406.04 270.26c64.55,48.46 36.65,45.43 65.29,100.84 31.47,60.89 127.11,72.2 164.56,54.18 3.9,-1.87 20.39,-11.28 26.65,-14.83 17.22,-9.78 29.73,-20.94 40.84,-36.33 8.13,-11.24 17.2,-39.07 20.4,-57.44z"/>
          </g>
         </g>
        </svg><br><br>
        <h3 class="white-text">Przynależność</h3> Staniesz się cześcią społeczności, która wspiera lokalne organizacje w Twojej okolicy
      </div>
    </div>
  </div>
</div>
<!-- <<< Adventages -->

<!-- Ekosystem >>> -->



  <div class="container- center-align">


    <br><h2 class=" primary-text"> Ekosystem rezervi&trade;</h2><br><br>



    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="314px" height="317px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 280.121 282.933"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Warstwa_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g id="circle-path">
  
<polygon id="arrow1-" class="fil2-ekosystem" points="155.246,8.761 169.854,17.765 169.854,17.765 153.886,24.05 "/>
  <polygon id="arrow2" class="fil2-ekosystem"  points="44.726,196.51 43.698,179.38 43.698,179.38 58.019,188.835 "/>
  <polygon id="arrow3" class="fil2-ekosystem " points="263.279,175.6 250.181,186.688 250.181,186.688 249.169,169.557 "/>
  <path id="circle-path-" class="fil0-ekosystem str0-ekosystem" d="M163.516 245.44c-63.01,8.145 -120.691,-36.331 -128.835,-99.34 -8.146,-63.01 36.33,-120.691 99.34,-128.836 63.009,-8.145 120.691,36.33 128.836,99.34 8.145,63.01 -36.331,120.691 -99.341,128.836z"/>
  
  </g>
  <path class="fil0-ekosystem str1-ekosystem" d="M165.497 260.757c-71.47,9.239 -136.895,-41.208 -146.134,-112.677 -9.238,-71.47 41.208,-136.895 112.678,-146.134 71.469,-9.238 136.894,41.209 146.133,112.678 9.239,71.469 -41.208,136.895 -112.677,146.133z"/>
  <path class="fil0-ekosystem str1-ekosystem" d="M161.48 229.685c-54.309,7.02 -104.024,-31.314 -111.044,-85.622 -7.02,-54.308 31.313,-104.024 85.622,-111.044 54.308,-7.02 104.023,31.313 111.044,85.622 7.02,54.308 -31.314,104.024 -85.622,111.044z"/>
  <circle class="fil1-ekosystem str2-ekosystem" cx="147.236" cy="131.012" r="47.788"/>

  <circle class="fil3-ekosystem" cx="148.358" cy="131.261" r="3.292"/>
  <circle class="fil4-ekosystem str2-ekosystem" cx="240.703" cy="60.039" r="35.659"/>
  <path class="fil5-ekosystem" d="M258.727 59.719l0 22.063 -35.981 0 0 -22.063 18.127 -21.045 17.854 21.045zm-17.991 17.365l-1.378 -1.255c-4.895,-4.439 -8.126,-7.366 -8.126,-10.959 0,-2.927 2.3,-5.227 5.227,-5.227 1.654,0 3.241,0.77 4.277,1.986 1.036,-1.216 2.624,-1.986 4.277,-1.986 2.927,0 5.228,2.3 5.228,5.227 0,3.593 -3.232,6.52 -8.127,10.969l-1.378 1.245z"/>
  <polygon class="fil0-ekosystem" points="241.339,40.421 257.632,40.421 257.632,56.714 241.339,56.714 "/>
  <g id="_443284232">
   <polygon class="fil3-ekosystem str3-ekosystem" points="255.705,56.112 249.799,49.675 249.799,42.069 256.011,42.069 "/>
   <path class="fil0-ekosystem str4-ekosystem" d="M262.105 62.688c-7.134,-7.939 -15.23,-16.454 -22.364,-24.393"/>
   <line class="fil0-ekosystem str4-ekosystem" x1="219.301" y1="62.688" x2="241.427" y2= "38.354" />
  </g>
  <circle class="fil4-ekosystem str2-ekosystem" cx="150.804" cy="246.382" r="35.659"/>
  <path class="fil5-ekosystem" d="M171.472 225.713l-41.337 0 0 5.168 41.337 0 0 -5.168zm2.584 25.836l0 -5.167 -2.584 -12.918 -41.337 0 -2.584 12.918 0 5.167 2.584 0 0 15.501 25.836 0 0 -15.501 10.334 0 0 15.501 5.167 0 0 -15.501 2.584 0zm-23.252 10.334l-15.501 0 0 -10.334 15.501 0 0 10.334z"/>
  <rect class="fil4-ekosystem" x="137.942" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="145.182" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="152.437" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="159.692" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="166.948" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="130.671" y="233.464" width="4.031" height="18.085"/>
  <circle  class="fil4-ekosystem str2-ekosystem" cx="36.352" cy="106.79" r="35.46"/>
  <path class="fil5-ekosystem" d="M43.511 84.745c-2.592,-1.73 -6.465,-2.348 -9.502,-1.923 0.641,0.598 0.178,0.337 0,0.611 -7.044,1.11 -9.314,5.4 -10.162,13.167 -0.732,6.716 -1.496,14.625 -1.428,21.371 0.055,-0.107 0.123,-0.247 0.15,-0.329 0.557,-1.74 0.327,-2.638 0.722,-5.425 0.294,-2.071 0.26,-4.222 0.327,-6.315l0.066 11.557 2.222 -0.679c0.141,-0.319 0.161,-0.115 0.393,-1.181 0.003,-0.012 0.079,-1.118 0.029,-1.241l0.569 2.077 3.442 -0.533c-1.273,3.066 -5.369,3.781 -9.147,5.369 -4.013,1.688 -4.326,4.749 -5.11,9.616l40.539 -0.088c-2.141,-13.118 -5.583,-7.575 -12.625,-12.726 -0.733,-0.537 -0.802,-0.836 -1.738,-1.385 0.285,-0.277 -0.809,-1.14 1.603,-0.712 0.846,0.15 3.391,1.324 4.712,0.517 1.162,-5.415 1.416,-27.427 -5.062,-31.748z"/>
  <circle  class="fil4-ekosystem str2-ekosystem" cx="147.237" cy="131.012" r="38.873"/>
  <g id="_443289968">
   <circle  class="fil0-ekosystem str5-ekosystem" cx="147.237" cy="131.012" r="20.873"/>
   <line class="fil0-ekosystem str6-ekosystem" x1="139.088" y1="122.358" x2="148.358" y2= "131.261" />
   <line class="fil0-ekosystem str7-ekosystem" x1="149.173" y1="129.074" x2="171.592" y2= "106.655" />
   <line class="fil0-ekosystem str6-ekosystem" x1="147.49" y1="130.759" x2="169.909" y2= "108.34" />
  </g>
  <circle cx="127.026" cy="102.745" r="0.434" class="fil0-ekosystem"/>
 </g>

            <animateTransform 
                xlink:href="#circle-path"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="360 147.236 130.759"
                    to="0 147.236 130.759"
                    dur="1600ms"
                begin="500ms"
                    repeatCount="indefinite"/>

            <animateTransform 
                xlink:href="#arrow1"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="180 147.236 130.759"
                    to="0 147.236 130.759"
                    dur="1600ms"
                begin="500ms"
                    repeatCount="indefinite"/>

</svg>


<div class="container">
<div style="position:relative; top: -260px; left:200px; width:200px; text-align:left;" class="hide-on-small-only">
  <b>Użytkownik serwisu</b><br>kupuję lub rezerwuję usługę w&nbsp;Lokalnej Firmie</div>


<div style="position:relative; top: -380px; right:-780px; width:200px; text-align:left;" class="hide-on-small-only"><b>Twoja organizacja</b><br> wspiera przedsiębiorcę marketingowo</div>

<div style="position:relative; bottom: 130px;" class="hide-on-small-only" ><b> Lokalna firma</b><br> wspiera Twoją <br>organizację finansowo</div>

<div class="hide-on-med-and-up left-align"><b>1) Użytkownik serwisu</b> kupuję lub rezerwuję usługę w&nbsp;Lokalnej Firmie.</div><br>

<div class="hide-on-med-and-up left-align"><b>2) Twoja organizacja</b> wspiera przedsiębiorcę marketingowo.</div><br>

<div class="hide-on-med-and-up left-align"><b>3) Lokalna firma</b> wspiera Twoją organizację finansowo.</div>



  </div>
</div>




<!-- <<< Ekosystem -->

<!-- <<< sponsoring -->

<div class="primary-bg white-text">

  <div class="container center-align">
    <h2 class=" white-text">Wyjdź naprzeciw sponsorom!</h2>
    <br>
    <div class="row">
      <div class="col s12 l6">

      </div>
      <div class="col s12 l6 left-align">

        Wiemy, jak ważne i trudne jest poszukiwanie <b>sponsorów</b> przez organizacje. Dzięki Rezervi&trade; możesz zaoferować coś więcej <b>lokalnym firmom</b> - <b>system</b>, który pozwoli im <b>zwiększyć liczbę klientów</b> oraz utrzymać obecnych.<br><br> Rezervi&trade; będzie umożliwiał <b>rezerwacje</b>, umawianie spotkań, wysyłanie przypomnień, <b>sprzedaż usług online</b>, <b>specjalny system rabatowy</b> i wiele wiele więcej.
      </div>



    </div>


  </div>

</div>

<!-- <<< sponsoring -->


<div class="container center-align">
    <br><h2 class=" primary-text"> Koszt rejestracji</h2><br><br>
      <span class="center-align"><h2 class=" secondary-text"><b>150 PLN</b> brutto</h2></span>
      <br><span class="grey-text-"> Jeżeli Twoja aplikacja nie zostanie rozpatrzona pozytywnie - Twoja organizacja nie poniesie kosztu rejestracji. <br>Wystawiamy fakturę VAT na wszystkie usługi.</span><br><br>
  </div>






<div class="container center-align">
    <br><h2 class=" primary-text"> Obowiązki Ambasadora Rezervi&trade;</h2><br><br>
      <div class="row ">
        <div class="col s12 l4">
          <br><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="60px" height="60px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 17.97 17.97"
             xmlns:xlink="http://www.w3.org/1999/xlink">
             <g id="Warstwa_x0020_1">
              <metadata id="CorelCorpID_0Corel-Layer"/>
              <circle class="duty1-fil0  duty1-str0" cx="8.985" cy="8.985" r="8.786"/>
              <path class="duty1-fil1 ania-fil0" d="M7.785 11.386l0 -0.601 -4.196 0.001 -0.006 2.4c0,0.667 0.534,1.201 1.201,1.201l8.402 0c0.667,0 1.201,-0.534 1.201,-1.201l0 -2.4 -4.202 0 0 0.6 -2.4 0zm6.002 -5.402l-2.407 0 0 -1.2 -1.201 -1.201 -2.4 0 -1.201 1.201 0 1.2 -2.395 0c-0.66,0 -1.2,0.54 -1.2,1.201l0 1.8c0,0.666 0.534,1.201 1.2,1.201l3.602 -0.001 0 -1.2 2.4 0 0 1.2 3.602 0c0.66,0 1.2,-0.54 1.2,-1.2l0 -1.801c0,-0.66 -0.54,-1.2 -1.201,-1.2l0.001 0zm-3.602 0l-2.4 0 0 -1.2 2.4 0 0 1.2z"/>
             </g>
            </svg><br><br>
            <h3>Zostań naszym lokalnym sprzedawcą</h3>
            Każdego miesiąca polecaj nasz serwis lokalnym firmom. Każda firma która przyłaczy się do projektu w Twoim mieście, oprócz tego że zyska system sprzedaży i rezerwacji usług online, będzie od teraz wspierać twoją Organizację za każdą sprzedaż w serwisie.
        </div>

        <div class="col s12 l4">
          <br><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="60px" height="60px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 32.31 32.31"
           xmlns:xlink="http://www.w3.org/1999/xlink">
           <g id="Warstwa_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <circle class="duty1-fil0 duty1-str0" cx="16.155" cy="16.155" r="15.798"/>
            <path class="duty1-fil1" d="M23.568 6.89l-14.826 0c-1.019,0 -1.843,0.833 -1.843,1.853l-0.009 16.678 3.706 -3.706 12.972 0c1.019,0 1.853,-0.834 1.853,-1.854l0 -11.119c0,-1.019 <br><br>-0.834,-1.853 -1.853,-1.853l0 0.001zm-10.193 8.339l-1.853 0 0 -1.854 1.853 0 0 1.854zm3.707 0l-1.853 0 0 -1.854 1.853 0 0 1.854zm3.706 0l-1.853 0 0 -1.854 1.853 0 0 1.854z"/>
           </g>
          </svg><br><br>

          <h3>Pomóż nam marketingowo</h3>
            po przez udostepnianie treści, polubienia postów itd.
        </div>


        <div class="col s12 l4">
          <br><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="60px" height="60px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 145.507 153.082"
           xmlns:xlink="http://www.w3.org/1999/xlink">
           <g id="Warstwa_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            
            <circle class="duty1-fil0 duty1-str0" cx="72.754" cy="80.328" r="71.145"/>
            <path class="duty1-fil1" d="M115.97 34.57l-0.813 0.152 -27.15 10.526 -30.506 -10.678 -28.674 9.662c-1.068,0.355 -1.831,1.27 -1.831,2.44l0 76.872c0,1.423 1.118,2.542 2.542,2.542l0.813 -0.152 27.15 -10.526 30.504 10.676 28.676 -9.66c1.068,-0.355 1.831,-1.27 1.831,-2.44l0 -76.872c0,-1.424 -1.119,-2.542 -2.542,-2.542zm-27.963 81.347l-30.505 -10.728 -0.001 -60.45 30.504 10.728 0.002 60.45z"/>
           </g>
          </svg><br><br>
          <h3>Przekaż materiały reklamowe </h3>
            np. przez marketing online(mail) lub osobiście
            swoim partnerom z okolicy, np. wizytówki, ulotki itd
            <br><span class="secondary-text"> Oczywiście dopiero, gdy kontakt osobisty będzie bezpieczny, a po pandemii pozostanie tylko wspomnienie</span>
        </div>
      </div>
  </div>



<!-- table >>>> -->

<div class="primary-bg- white-text-">

  <div class="container center-align">
    <h2 class=" white-text- primary-text">Zysk z inwestycji</h2><br>
    <h4> Od momentu pozyskania pierwszego partnera, za <b>każdą rezerwację</b> usługi,<br> przez <b>klientów lokalnej firmy</b>, <b>Twoja organizacja</b> otrzyma minimum 1 PLN brutto.</h4><br><br>
    <div class="row">
      <div class="col s12 l6">
        <div class="secondary-bg white-text left-align container">

          <div class="circle- grey-">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="90px" height="90px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              viewBox="0 0 21.096 21.096"
               xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="Warstwa_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <circle class="ania-fil0 ania-str0" cx="10.548" cy="10.548" r="10.315"/>
                <path class="ania-fil1" d="M12.631 4.135c-0.754,-0.503 -1.881,-0.683 -2.764,-0.559 0.186,0.174 0.051,0.098 0,0.178 -2.049,0.323 -2.71,1.57 -2.956,3.83 -0.213,1.953 -0.436,4.254 -0.416,6.216 0.016,-0.031 0.036,-0.072 0.044,-0.095 0.162,-0.507 0.095,-0.768 0.21,-1.578 0.085,-0.603 0.075,-1.229 0.095,-1.837l0.019 3.361 0.647 -0.197c0.04,-0.093 0.046,-0.034 0.114,-0.344 0.001,-0.003 0.023,-0.325 0.008,-0.361l0.166 0.605 1.001 -0.156c-0.37,0.892 -1.562,1.1 -2.661,1.562 -1.167,0.491 -1.258,1.382 -1.486,2.798l11.792 -0.026c-0.623,-3.816 -1.624,-2.204 -3.673,-3.702 -0.213,-0.156 -0.233,-0.243 -0.505,-0.403 0.083,-0.08 -0.235,-0.331 0.466,-0.207 0.246,0.044 0.987,0.385 1.371,0.151 0.338,-1.576 0.412,-7.979 -1.472,-9.236z"/>
               </g>
              </svg>
          </div>
        <i>Przykład 1.</i> Ania rezerwuję usługę u kosmetyczki "Beauty" po przez serwis Rezervi&trade;.
        Jeśli usługa się odbędzie i firma "Beauty" otrzyma wynagrodzenie, Twoja organizacja otrzyma minimum 1 zł brutto.
      </div><br><br>
    </div>
      <div class="col s12 l6">
        <div class="primary-bg white-text left-align container">
        
          <div class="circle- white-">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="90px" height="90px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              viewBox="0 0 51.734 51.734"
               xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="Warstwa_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <circle class="tomek-fil0 tomek-str0" cx="25.867" cy="25.867" r="25.295"/>
                <path class="tomek-fil1" d="M30.027 9.112c-0.321,1.345 0.438,0.156 -0.498,0.962l-0.554 -1.279 1.052 0.317zm0 0c-0.49,-0.655 -0.266,-0.532 -2.294,-0.43 -1.101,0.056 -2.167,0.227 -3.2,0.265 -2.151,0.079 -3.772,-0.602 -5.021,0.959 -2.923,3.654 -0.358,6.041 -0.595,7.59 -0.361,2.366 -0.531,-0.557 -1.14,1.935 -0.38,3.584 1.804,3.377 2.225,5.495 0.256,1.285 0.095,2.037 0.748,3.1 0.551,0.897 1.055,1.077 1.573,2.012 -0.945,3.353 -3.54,3.916 -7.093,5.161 -4.216,1.477 -4.273,2.596 -3.919,7.4 4.054,0 27.16,0.42 29.089,-0.228 0.516,-4.89 -0.078,-5.917 -4.207,-7.277 -3.439,-1.132 -5.844,-1.965 -6.797,-5.056 1.658,-2.625 1.49,-0.733 2.322,-5.045 0.436,-2.257 2.461,-1.987 2.262,-5.257 -0.182,-2.975 -0.996,0.473 -1.229,-2.845 -0.288,-4.092 1.655,-4.755 -1.43,-6.824l-1.1 -0.826c-0.028,-0.098 -0.129,-0.086 -0.194,-0.129z"/>
               </g>
              </svg>
          </div>
        <i>Przykład 2.</i> Tomek kupuję usługę u fryzjera "Barber" po przez serwis Rezervi&trade; z opcją płatności online. Bez względu na to, czy usługa się odbędzie, Twoja organizacja otrzyma minimum 1 zł brutto podczas płatności za zakup usługi.
      </div><br>

    
    </div>
  </div>

<h3>Zysk przy posiadaniu 1 <b>partnera</b> (firmy lokalnej) / miesiąc</h3>
<br>

  <div class="row grey lighten-3">
      <div class="col  s4"><b>Ilość partnerów</b></div>
      <div class="col s4"><b>Ilość rezerwacji w miesiącu / partnera</b></div>
      <div class="col s4"><b>Zysk w miesiącu [PLN brutto]</b></div>
  </div>
  <div class="row">
      <div class="col s4">1</div>
      <div class="col s4">10</div>
      <div class="col s4">10</div>
  </div>
  <div class="row grey lighten-3">
      <div class="col s4"></div>
      <div class="col s4">20</div>
      <div class="col s4">20</div>
  </div>
  <div class="row">
      <div class="col s4"></div>
      <div class="col s4">50</div>
      <div class="col s4">50</div>
  </div>
  <div class="row grey lighten-3">
      <div class="col s4"></div>
      <div class="col s4">100</div>
      <div class="col s4">100</div>
  </div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">200</div>
      <div class="col s4">200</div>
  </div>
      <div class="row grey lighten-3">
      <div class="col s4"></div>
      <div class="col s4">500</div>
      <div class="col s4">500</div>
  </div>
        <div class="row">
      <div class="col s4"></div>
      <div class="col s4">1000</div>
      <div class="col s4">1000</div>
  </div>


<br><br>

<h3>Zysk przy posiadaniu wielu <b>partnerów</b> (firm lokalnych) / miesiąc</h3>
<br>

  <div class="row grey lighten-3">
      <div class="col s4"><b>Ilość partnerów</b></div>
      <div class="col s4"><b>Ilość rezerwacji w miesiącu / partnera</b></div>
      <div class="col s4"><b>Zysk w miesiącu [PLN brutto]</b></div>
  </div>
  <div class="row">
      <div class="col s4">1</div>
      <div class="col s4">10</div>
      <div class="col s4">30</div>
  </div>
  <div class="row grey lighten-3">
      <div class="col s4">3</div>
      <div class="col s4">20</div>
      <div class="col s4">60</div>
  </div>
  <div class="row">
      <div class="col s4">3</div>
      <div class="col s4">50</div>
      <div class="col s4">125</div>
  </div>
  <div class="row grey lighten-3">
      <div class="col s4">5</div>
      <div class="col s4">100</div>
      <div class="col s4">500</div>
  </div>
    <div class="row">
      <div class="col s4">8</div>
      <div class="col s4">200</div>
      <div class="col s4">1600</div>
  </div>
      <div class="row grey lighten-3">
      <div class="col s4">10</div>
      <div class="col s4">500</div>
      <div class="col s4">5000</div>
  </div>
        <div class="row">
      <div class="col s4">10</div>
      <div class="col s4">1000</div>
      <div class="col s4">10000</div>
  </div>    
    <br>

Tabele powyżej nie dotyczą sytuacji, w których klient zrezygnował z rezerwacji i lokalna firma nie otrzymała od niego wynagrodzenia za usługę. 
<br><Br>

<div class="container left-align red white-text">
<h3 class=" center-align white-text"> Co w związku z epidemią wirusa w Polsce? </h3>

<div>Serwis jest w trakcie budowy. Obecna sytuacja panująca w Polsce w związku z epidemią sprawiła, że pracujemy zdalnie nad projektem. Start serwisu nastąpi dopiero po kilku - kilkunastu miesącach, gdy korzystanie z usług lokalnych firm będzie dla wszystkich bezpieczne, a po epidemii pozostanie tylko wspomnienie.<br>

Niemniej jednak chcemy jak najlepiej wykorzystać dany nam teraz czas i zbudować serwis najwyższej jakości.
Powyższe przykłady dotyczą branży beauty, jednakże system będzie można zadedykować praktycznie każdej branży. Bierzemy również pod uwagę sprzedaż usług online. <br>
 Nasz system będzie w stanie rozpędzić lokalne biznesy na nowo już po zakończeniu pandemii, czyli w momencie, gdy <b>firmy lokalne</b> będą najbardziej tego potrzebowały.
</div><br>
</div><br>
<!-- <<< sponsoring -->

<div class="secondary-bg white-text">

  <div class="container center-align">

    <br>
    <div class="row">
      <div class="col s12 l6 left-align">
        Załóżmy, że Twoim partnerem jest salon fryzjerski "BeautyHair". Właścicielka jest zarazem jedynym pracownikiem. Nawet przy <b>8 klientach</b> dziennie, (którzy zarezerwują i zapłacą za usługę przed lub po jej wykonaniu), po 60 dniach, Twój <b>zysk wyniesie 480 PLN</b>.<br><br>

            
            Przy założeniu, że dziennie odbędzie się <b>5 rezerwacji</b> - już po <b>60 dniach od startu serwisu</b> otrzymasz całkowity zwrot z inwestycji.<br><br>

            Jeżeli dziennie dokonanych zostanie <b>10 rezerwacji</b> - zwrot otrzymasz <b>po 30 dniach</b>.

      </div>
      <div class="col s12 l6 left-align">

            

            

      </div>



    </div>


  </div>

</div>

<!-- <<< sponsoring -->


<div class="container center-align">
    <br><h2 class=" primary-text"> Promocja "3x50"</h2><br><br>
      Jeżeli pozyskasz partnera, który zapłaci za rok z góry za dowolny pakiet rezerwacji, za każdego takiego partnera dodatkowo otrzymasz
      <span class="center-align"><span class=" secondary-text"><b>50 PLN</b> brutto</span></span>.
      <span class="grey-text-"> <br>
      A więc wystarczy, że sprzedaż naszą usługę 3 różnym partnerom w rozliczeniu rocznym, aby otrzymać <span class=" secondary-text"><b>150 PLN</b> brutto</span>, czyli uzyskać całkowity zwrot inwestycji.<br> Pamiętaj również o tym, że przez cały czas uczestniczenia w programie, Twoja organizacja będzie zarabiać na rezerwacjach i zakupionych usługach.
  </div>



<!-- <<< table -->



<!-- Steps >>> -->
  


  <div class="container center-align">
    <br><h2 class=" primary-text"> Etapy rekrutacji</h2><br><br>

    <div class="row">
      <div class="col s12 l3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="82px" height="53px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 42.534 27.671"
           xmlns:xlink="http://www.w3.org/1999/xlink">
           <g id="Warstwa_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"/>
            <g id="_644397568">
             <path class="step1-fil0" d="M4.681 1.667l33.172 0 0 20.003 -33.172 0 0 -20.003zm-1.667 -0.25l0 21.587 36.506 0 0 -21.587c0,-0.478 -0.249,-0.905 -0.543,-1.124 -0.325,-0.241 -0.844,-0.293 -1.374,-0.293l-32.672 0c-0.993,0 -1.917,0.27 -1.917,1.417z"/>
             <path class="step1-fil0" d="M18.267 26.254c0,-0.192 0.058,-0.25 0.25,-0.25l5.5 0c0.307,0 0.251,0.178 0.251,0.583l-6.001 0 0 -0.333zm-18.253 -0.083c0,0.892 -0.216,1.5 1.083,1.5l40.34 0c1.299,0 1.083,-0.608 1.083,-1.5 0,-0.32 -1.226,-1.085 -1.524,-1.309 -0.292,-0.22 -0.536,-0.402 -0.809,-0.608 -0.223,-0.168 -0.563,-0.5 -0.917,-0.5l-36.006 0c-0.406,0 -1.365,0.836 -1.726,1.108 -0.298,0.224 -1.524,0.989 -1.524,1.309z"/>
            </g>
            <g id="_644398456">
             <path class="step1-fil1" d="M29.814 6.762l-0.059 0.059 0.059 -0.059zm0.059 -0.059l-0.059 0.059 0.059 -0.059zm0.059 -0.058l-0.059 0.058 0.059 -0.058zm0 0l0 0zm-0.177 0.176l-6.799 6.711c-0.575,0.575 -1.106,1.107 -1.681,1.682l-5.148 5.058 3.599 2.655c0.261,0.183 0.485,0.359 0.755,0.543l1.09 0.798c0.668,0.498 1.323,1.077 2.185,0.742 0.291,-0.113 0.549,-0.281 0.715,-0.523 0.231,-0.334 0.268,-0.493 0.41,-0.889 0.451,-1.266 0.905,-2.451 1.357,-3.716 0.815,-2.284 1.972,-5.201 2.699,-7.39 0.403,-1.216 0.938,-2.456 1.342,-3.672l1.015 -2.764c0.134,-0.369 -0.056,-0.751 -0.418,-0.772 -0.206,-0.012 -1.601,0.549 -1.837,0.644 -0.602,0.242 -1.241,0.49 -1.829,0.708l-3.675 1.399c-0.616,0.248 -1.167,0.449 -1.786,0.692 -0.633,0.247 -1.206,0.466 -1.837,0.699 -0.591,0.218 -1.219,0.486 -1.831,0.706 -0.6,0.216 -1.233,0.463 -1.836,0.701l-5.461 2.09c-0.725,0.278 -1.179,0.357 -1.502,1.035 -0.553,1.162 0.639,1.826 1.257,2.287 0.14,0.104 0.24,0.163 0.381,0.268 0.135,0.101 0.245,0.191 0.37,0.278l2.95 2.125c0.383,-0.103 6.686,-5.235 7.761,-6.044l7.466 -5.867c0.157,-0.127 0.081,-0.128 0.288,-0.184z"/>
             <path class="step1-fil1" d="M15.124 25.936c0.606,0 1.177,-0.517 1.841,-0.932 0.302,-0.189 1.429,-0.925 1.581,-1.133 -0.124,-0.169 -4.267,-3.087 -4.652,-3.371 -0.123,-0.092 -0.219,-0.148 -0.345,-0.244 -0.134,-0.102 -0.2,-0.174 -0.371,-0.219 0.122,0.525 0.208,1.084 0.302,1.644l0.606 3.288c0.073,0.336 0.135,0.465 0.343,0.66 0.176,0.166 0.371,0.307 0.695,0.307z"/>
            </g>
           </g>
          </svg><br><br>
      </div>

      <div class="col s12 l9 left-align">
        <h3>1) Wysłanie aplikacji do programu Ambasador Rezervi&trade;</h3>
        Podaj dane rejestrowe Twojej organizacji i zaczekaj na nasz krok.
      </div>

    </div>


        <div class="row">
      <div class="col s12 l3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="88px" height="86px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 44.201 43.193"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="Warstwa_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <path class="step2-fil0" d="M9.289 37.779l21.736 0c1.296,0 2.357,-1.061 2.357,-2.357l0 -27.381 -5.297 -5.014 -18.796 0c-1.297,0 -2.358,1.061 -2.358,2.358l0 30.037c0,1.296 1.061,2.357 2.358,2.357z"/>
          <path class="step2-fil1" d="M28.546 8.543l4.836 0.004 0 0.506 0 -1.012 -5.297 -5.014 -0.647 0c0.975,0.934 0.382,5.516 1.108,5.516z"/>
          <g id="_644369608">
           <rect class="step2-fil1" x="11.051" y="20.405" width="16.496" height="1"/>
           <rect class="step2-fil1" x="11.051" y="30.403" width="16.496" height="1"/>
           <rect class="step2-fil1" x="11.051" y="25.404" width="11.91" height="1"/>
          </g>
          <g id="_644370952">
           <path class="step2-fil1" d="M42.945 2.818c0.229,-0.447 0.66,-0.985 -0.112,-1.378l-2.77 -1.379c-0.296,-0.14 -0.591,-0.028 -0.758,0.238 -0.24,0.381 -1.671,3.226 -1.715,3.443 0.243,0.077 0.695,0.341 0.955,0.472l2.377 1.211c0.115,0.058 0.37,0.16 0.453,0.239 -0.064,0.173 -0.321,0.721 -0.458,0.837l-1.896 -0.976c-0.278,-0.143 -1.711,-0.911 -1.902,-0.932 -0.133,0.194 -0.254,0.476 -0.364,0.694 -0.122,0.242 -0.228,0.449 -0.351,0.69l-10.419 20.645c0.132,0.132 1.636,0.853 1.938,1.009 0.318,0.164 1.745,0.932 1.971,0.97 0.085,-0.085 1.32,-2.584 1.411,-2.764l4.154 -8.212c0.466,-0.925 0.925,-1.809 1.391,-2.734 0.238,-0.472 0.458,-0.91 0.699,-1.38l0.674 -1.363c0.167,-0.326 2.673,-5.336 2.81,-5.479l1.764 0.91c-0.074,0.272 -0.51,1.031 -0.667,1.338 -0.234,0.454 -0.449,0.875 -0.679,1.331 -0.445,0.878 -0.877,1.769 -1.326,2.647 -0.456,0.891 -0.892,1.746 -1.346,2.637 -0.323,0.636 0.249,1.209 0.792,0.876 0.269,-0.165 0.611,-0.995 0.748,-1.265l3.695 -7.309c0.308,-0.666 0.289,-0.89 -0.467,-1.217l-1.979 -1.016 1.377 -2.783z"/>
           <path class="step2-fil1" d="M24.584 34.229c0.135,-0.077 2.089,-2.117 2.362,-2.403l2.344 -2.402c-0.12,-0.139 -1.52,-0.8 -1.795,-0.941 -0.291,-0.148 -1.604,-0.844 -1.806,-0.896l-1.105 6.642z"/>
          </g>
          <path class="step2-fil2" d="M8.219 30.504l-3.155 -3.262c0.085,-0.174 0.927,-0.962 1.105,-1.078 0.59,0.541 1.131,1.21 1.62,1.645 0.174,0.154 0.354,0.443 0.577,0.53l2.091 -1.911c0.286,-0.238 1.923,-1.762 2.146,-1.878 0.134,0.227 0.785,0.858 0.986,1.144 -0.081,0.135 -2.61,2.388 -2.662,2.433 -0.361,0.316 -2.52,2.311 -2.708,2.377zm0.146 -10.015c-3.33,0.356 -6.133,3.179 -5.782,7.027 0.303,3.317 3.321,6.106 7.009,5.747 3.297,-0.321 6.119,-3.224 5.767,-7.022 -0.305,-3.294 -3.329,-6.143 -6.994,-5.752z"/>
          <path class="step2-fil2" d="M1.972 27.47c-0.241,-2.074 0.732,-4.161 1.735,-5.239 1.203,-1.295 2.681,-2.185 4.648,-2.353 4.096,-0.348 7.33,2.757 7.615,6.406 0.316,4.054 -2.71,7.282 -6.396,7.589 -2.173,0.182 -4.091,-0.681 -5.25,-1.736 -1.187,-1.082 -2.089,-2.409 -2.352,-4.667zm6.756 -9.529c-0.538,0.144 -0.96,0.63 -1.381,0.918 -0.641,0.438 -1.12,0.242 -1.902,0.139 -1.876,-0.249 -1.316,1.504 -2.287,2.275 -0.399,0.317 -1.105,0.45 -1.579,0.742 -0.619,0.381 -0.554,0.898 -0.425,1.721 0.154,0.981 0.071,1.194 -0.419,1.808 -0.267,0.335 -0.879,0.909 -0.704,1.593 0.12,0.469 0.686,1.007 0.941,1.383 0.44,0.649 0.196,1.195 0.112,1.972 -0.193,1.789 1.67,1.268 2.339,2.272 0.304,0.457 0.442,1.153 0.739,1.583 0.381,0.554 0.963,0.457 1.758,0.333 0.94,-0.147 1.174,0 1.741,0.451 0.343,0.272 0.907,0.86 1.571,0.683 0.49,-0.13 0.969,-0.656 1.359,-0.922 0.641,-0.438 1.118,-0.242 1.912,-0.139 1.839,0.24 1.344,-1.508 2.28,-2.271 0.412,-0.336 1.103,-0.448 1.576,-0.746 0.617,-0.387 0.565,-0.879 0.43,-1.715 -0.165,-1.024 -0.065,-1.167 0.416,-1.811 0.262,-0.351 0.881,-0.897 0.707,-1.593 -0.119,-0.473 -0.684,-1.006 -0.939,-1.386 -0.444,-0.663 -0.202,-1.179 -0.117,-1.955 0.199,-1.811 -1.629,-1.273 -2.337,-2.285 -0.298,-0.426 -0.424,-1.112 -0.739,-1.583 -0.383,-0.573 -0.973,-0.458 -1.76,-0.337 -0.929,0.142 -1.171,0 -1.737,-0.448 -0.338,-0.268 -0.9,-0.859 -1.555,-0.682z"/>
          <path class="step2-fil3" d="M5.972 43.193c0.165,-0.138 0.639,-1.528 0.714,-1.728 0.22,-0.585 0.441,-1.164 0.671,-1.748 0.192,-0.489 1.245,-3.161 1.31,-3.46 -0.201,-0.122 -0.422,-0.169 -0.637,-0.311 -0.801,-0.527 -0.899,-1.015 -1.966,-0.86 -0.571,0.083 -1.151,0.216 -1.668,-0.012 -0.603,-0.265 -0.676,-0.779 -0.887,-0.994l-2.718 7.141 3.433 -1.108 1.748 3.08z"/>
          <path class="step2-fil2" d="M9.275 36.257c0.044,0.275 2.12,5.551 2.483,6.526 0.054,0.144 0.091,0.306 0.203,0.405l1.751 -3.102 3.451 1.127 -2.748 -7.126c-0.123,0.137 -0.203,0.392 -0.357,0.584 -0.579,0.727 -1.386,0.53 -2.218,0.409 -1.035,-0.15 -1.162,0.378 -1.956,0.884 -0.198,0.126 -0.427,0.182 -0.609,0.293z"/>
          <path class="step2-fil4" d="M8.365 20.489c3.665,-0.391 6.689,2.458 6.994,5.752 0.352,3.798 -2.47,6.701 -5.767,7.022 -3.688,0.359 -6.706,-2.43 -7.009,-5.747 -0.351,-3.848 2.452,-6.671 5.782,-7.027zm-6.393 6.981c0.263,2.258 1.165,3.585 2.352,4.667 1.159,1.055 3.077,1.918 5.25,1.736 3.686,-0.307 6.712,-3.535 6.396,-7.589 -0.285,-3.649 -3.519,-6.754 -7.615,-6.406 -1.967,0.168 -3.445,1.058 -4.648,2.353 -1.003,1.078 -1.976,3.165 -1.735,5.239z"/>
          <path class="step2-fil4" d="M8.219 30.504c0.188,-0.066 2.347,-2.061 2.708,-2.377 0.052,-0.045 2.581,-2.298 2.662,-2.433 -0.201,-0.286 -0.852,-0.917 -0.986,-1.144 -0.223,0.116 -1.86,1.64 -2.146,1.878l-2.091 1.911c-0.223,-0.087 -0.403,-0.376 -0.577,-0.53 -0.489,-0.435 -1.03,-1.104 -1.62,-1.645 -0.178,0.116 -1.02,0.904 -1.105,1.078l3.155 3.262z"/>
         </g>
        </svg><br><br>
      </div>

      <div class="col s12 l9 left-align">
        <h3>2) Selekcja aplikacji</h3>
        Spośród przesłanych aplikacji wybierzemy te organizacje, które naszym zdaniem będą najlepiej przygotowane do otrzymania statusu Ambasadora Rezervi&trade;. <br><br><b><span class="primary-text">Uwaga. Tylko jedna, dwie lub trzy organizacje w danym mieście (w zależności od wielkości miasta)  mogą zostać naszym Ambasadorem, dlatego wśród zakwalifikowanych organizacji ma zastosowanie zasada "kto pierwszy, ten lepszy"</span></b><br>
      </div>

    </div>


        <div class="row"><br>
      <div class="col s12 l3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="155px" height="65px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 194.113 81.855"
       xmlns:xlink="http://www.w3.org/1999/xlink">
       <g id="Warstwa_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"/>
        <path class="step3-fil0" d="M186.021 41.175l0 40.68 -66.34 0 0 -40.68 33.421 -38.803 32.919 38.803zm-33.17 32.017l-2.541 -2.313c-9.026,-8.184 -14.983,-13.582 -14.983,-20.206 0,-5.398 4.241,-9.639 9.638,-9.639 3.049,0 5.976,1.42 7.886,3.663 1.91,-2.242 4.837,-3.663 7.886,-3.663 5.397,0 9.638,4.241 9.638,9.639 0,6.624 -5.959,12.022 -14.983,20.223l-2.541 2.296z"/>
        <polygon class="step3-fil1" points="153.961,5.592 184.002,5.592 184.002,35.634 153.961,35.634 "/>
        <g id="_640683720">
         <polygon class="step3-fil2 step3-str0" points="180.449,34.525 169.562,22.655 169.562,8.631 181.014,8.631 "/>
         <path class="step3-fil1 step3-str1" d="M192.251 46.649c-13.154,-14.638 -28.082,-30.338 -41.236,-44.976"/>
         <line class="step3-fil1 step3-str1" x1="113.328" y1="46.649" x2="154.123" y2= "1.782" />
        </g>
        <rect class="step3-fil3" y="34.381" width="66.341" height="35.048" rx="11.266" ry="11.266"/>
        <path class="step3-fil4" d="M11.213 50.062l0.615 -3.579c2.844,-1.508 5.039,-3.264 6.585,-5.268l2.014 0 -3.555 20.613 -3.311 0 2.447 -14.2c-0.672,0.53 -1.455,1.021 -2.357,1.47 -0.897,0.448 -1.713,0.768 -2.438,0.964z"/>
        <path id="1" class="step3-fil4" d="M23.008 55.163c0,-2.644 0.42,-5.173 1.265,-7.587 0.844,-2.415 1.847,-4.133 3.006,-5.144 0.873,-0.773 1.866,-1.16 2.963,-1.16 1.356,0 2.472,0.597 3.355,1.794 0.883,1.198 1.321,2.949 1.321,5.259 0,2.643 -0.415,5.167 -1.25,7.577 -0.835,2.41 -1.832,4.123 -2.991,5.139 -0.869,0.754 -1.862,1.131 -2.978,1.131 -1.336,0 -2.453,-0.591 -3.345,-1.775 -0.897,-1.179 -1.346,-2.925 -1.346,-5.234zm3.236 0.811c0,1.102 0.147,1.875 0.439,2.319 0.295,0.448 0.672,0.672 1.126,0.672 0.577,0 1.107,-0.319 1.579,-0.963 0.625,-0.869 1.169,-2.52 1.632,-4.968 0.463,-2.443 0.692,-4.332 0.692,-5.664 0,-1.026 -0.148,-1.76 -0.449,-2.214 -0.296,-0.453 -0.673,-0.677 -1.131,-0.677 -0.548,0 -1.049,0.314 -1.498,0.949 -0.706,0.998 -1.307,2.825 -1.804,5.492 -0.391,2.086 -0.586,3.77 -0.586,5.054z"/>
        <path id="2" class="step3-fil4" d="M36.064 55.163c0,-2.644 0.42,-5.173 1.264,-7.587 0.845,-2.415 1.847,-4.133 3.007,-5.144 0.872,-0.773 1.865,-1.16 2.963,-1.16 1.355,0 2.471,0.597 3.354,1.794 0.883,1.198 1.322,2.949 1.322,5.259 0,2.643 -0.415,5.167 -1.25,7.577 -0.835,2.41 -1.833,4.123 -2.992,5.139 -0.869,0.754 -1.861,1.131 -2.978,1.131 -1.336,0 -2.452,-0.591 -3.344,-1.775 -0.897,-1.179 -1.346,-2.925 -1.346,-5.234zm3.235 0.811c0,1.102 0.148,1.875 0.439,2.319 0.296,0.448 0.673,0.672 1.126,0.672 0.578,0 1.107,-0.319 1.58,-0.963 0.625,-0.869 1.169,-2.52 1.631,-4.968 0.463,-2.443 0.692,-4.332 0.692,-5.664 0,-1.026 -0.148,-1.76 -0.449,-2.214 -0.295,-0.453 -0.672,-0.677 -1.13,-0.677 -0.549,0 -1.05,0.314 -1.498,0.949 -0.707,0.998 -1.308,2.825 -1.804,5.492 -0.392,2.086 -0.587,3.77 -0.587,5.054z"/>
        <line class="step3-fil1 step3-str2" x1="68.364" y1="60.577" x2="105.916" y2= "60.577" />
        <line class="step3-fil1 step3-str2" x1="68.994" y1="53.066" x2="94.021" y2= "53.066" />
        <line class="step3-fil1 step3-str2" x1="68.994" y1="44.304" x2="87.14" y2= "44.304" />
       </g>
</svg><br><br>
      </div>

      <div class="col s12 l9 left-align">
        <h3>3) Inwestycja</h3>
        Zakwalifikowane do programu Organizacje podpisują umowę oraz ponoszą opłatę rejestracyjną. Koszt rejestracji wynosi 150 zł brutto.


      </div>

    </div>


            <div class="row"><br>
      <div class="col s12 l3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="90px" height="76px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 109.942 92.572"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <g id="Warstwa_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          <path class="step4-fil0" d="M26.658 58.42c-4.173,0 -7.589,3.415 -7.589,7.59 0,4.174 3.414,7.589 7.589,7.589 4.175,0 7.589,-3.415 7.589,-7.589 0,-4.175 -3.414,-7.59 -7.589,-7.59zm19.921 7.59c0,0.873 -0.076,1.745 -0.189,2.579l5.616 4.402c0.493,0.417 0.646,1.138 0.304,1.708l-5.312 9.182c-0.341,0.57 -1.024,0.798 -1.632,0.57l-6.602 -2.656c-1.367,1.063 -2.884,1.934 -4.478,2.618l-0.987 7.02c-0.113,0.646 -0.682,1.139 -1.328,1.139l-10.625 -0.001c-0.645,0 -1.215,-0.494 -1.328,-1.1l-0.986 -7.02c-1.633,-0.683 -3.113,-1.556 -4.478,-2.619l-6.602 2.656c-0.607,0.228 -1.291,0 -1.633,-0.569l-5.311 -9.183c-0.342,-0.569 -0.19,-1.291 0.303,-1.708l5.616 -4.401c-0.113,-0.874 -0.189,-1.745 -0.189,-2.619 0,-0.873 0.076,-1.745 0.189,-2.58l-5.616 -4.401c-0.493,-0.417 -0.645,-1.139 -0.303,-1.708l5.311 -9.183c0.342,-0.569 1.025,-0.797 1.633,-0.569l6.602 2.656c1.367,-1.063 2.884,-1.935 4.478,-2.619l0.986 -7.02c0.113,-0.645 0.683,-1.138 1.328,-1.138l10.624 0.002c0.645,0 1.215,0.494 1.328,1.1l0.987 7.02c1.632,0.683 3.112,1.557 4.477,2.619l6.603 -2.656c0.606,-0.228 1.29,0 1.631,0.569l5.313 9.183c0.341,0.569 0.189,1.291 -0.304,1.708l-5.616 4.401c0.113,0.874 0.189,1.746 0.189,2.619l0.001 -0.001z"/>
          <path class="step4-fil1" d="M30.372 19.261c-3.614,-2.086 -8.28,-0.837 -10.367,2.778 -2.087,3.615 -0.838,8.28 2.778,10.367 3.615,2.088 8.28,0.838 10.367,-2.778 2.087,-3.615 0.838,-8.28 -2.778,-10.367zm13.458 16.533c-0.437,0.757 -0.938,1.474 -1.454,2.14l2.663 6.619c0.219,0.609 -0.01,1.31 -0.591,1.632l-9.191 5.296c-0.581,0.323 -1.286,0.179 -1.698,-0.323l-4.391 -5.601c-1.714,0.237 -3.464,0.233 -5.186,0.029l-4.365 5.586c-0.421,0.502 -1.16,0.645 -1.719,0.322l-9.201 -5.314c-0.559,-0.322 -0.806,-1.034 -0.6,-1.616l2.655 -6.573c-1.072,-1.407 -1.917,-2.904 -2.568,-4.506l-7.046 -1.002c-0.639,-0.106 -1.118,-0.645 -1.129,-1.309l-0.009 -10.608c-0.011,-0.664 0.482,-1.213 1.118,-1.327l7.064 -1.004c0.339,-0.813 0.709,-1.606 1.146,-2.363 0.436,-0.756 0.938,-1.473 1.453,-2.139l-2.663 -6.62c-0.218,-0.608 0.011,-1.308 0.591,-1.631l9.192 -5.296c0.58,-0.323 1.285,-0.179 1.698,0.323l4.39 5.601c1.715,-0.237 3.465,-0.233 5.186,-0.029l4.365 -5.586c0.421,-0.502 1.161,-0.645 1.72,-0.322l9.199 5.314c0.558,0.323 0.805,1.035 0.599,1.617l-2.655 6.573c1.072,1.406 1.917,2.903 2.568,4.506l7.046 1.001c0.64,0.106 1.118,0.645 1.129,1.309l0.009 10.608c0.011,0.664 -0.481,1.213 -1.118,1.328l-7.064 1.003c-0.338,0.813 -0.708,1.607 -1.145,2.363l0.002 -0.001z"/>
          <path class="step4-fil0" d="M92.524 33.098c-2.813,0 -5.116,2.302 -5.116,5.116 0,2.815 2.302,5.117 5.116,5.117 2.815,0 5.117,-2.302 5.117,-5.117 0,-2.814 -2.302,-5.116 -5.117,-5.116zm13.43 5.116c0,0.59 -0.051,1.177 -0.127,1.74l3.786 2.967c0.332,0.281 0.435,0.768 0.205,1.151l-3.581 6.191c-0.23,0.384 -0.69,0.538 -1.101,0.384l-4.45 -1.79c-0.922,0.716 -1.945,1.304 -3.019,1.765l-0.665 4.733c-0.077,0.435 -0.46,0.767 -0.896,0.767l-7.163 -0.001c-0.435,0 -0.819,-0.332 -0.895,-0.741l-0.665 -4.733c-1.101,-0.46 -2.098,-1.049 -3.019,-1.766l-4.451 1.791c-0.409,0.154 -0.87,0 -1.1,-0.384l-3.582 -6.19c-0.23,-0.384 -0.127,-0.87 0.206,-1.152l3.785 -2.967c-0.076,-0.589 -0.127,-1.177 -0.127,-1.766 0,-0.588 0.051,-1.176 0.127,-1.739l-3.785 -2.967c-0.333,-0.281 -0.436,-0.768 -0.206,-1.152l3.582 -6.19c0.23,-0.384 0.69,-0.538 1.1,-0.384l4.451 1.791c0.922,-0.717 1.945,-1.304 3.019,-1.766l0.665 -4.732c0.076,-0.435 0.46,-0.768 0.895,-0.768l7.162 0.002c0.435,0 0.819,0.333 0.896,0.741l0.665 4.733c1.1,0.46 2.098,1.049 3.018,1.766l4.451 -1.791c0.41,-0.154 0.871,0 1.101,0.384l3.581 6.19c0.23,0.384 0.128,0.87 -0.205,1.152l-3.786 2.967c0.076,0.589 0.127,1.177 0.127,1.766l0.001 -0.002z"/>
          <rect class="step4-fil2" x="22.916" y="27.432" width="65.012" height="40.146"/>
          <g id="_644385760">
           <path class="step4-fil3" d="M25.472 27.983l59.467 0 0 35.859 -59.467 0 0 -35.859zm-2.989 -0.448l0 38.698 65.444 0 0 -38.698c0,-0.857 -0.445,-1.622 -0.974,-2.015 -0.582,-0.433 -1.513,-0.525 -2.463,-0.525l-58.57 0c-1.78,0 -3.437,0.483 -3.437,2.54z"/>
           <path class="step4-fil3" d="M49.826 72.06c0,-0.344 0.104,-0.448 0.448,-0.448l9.862 0c0.549,0 0.448,0.319 0.448,1.046l-10.758 0 0 -0.598zm-32.722 -0.149c0,1.6 -0.386,2.689 1.943,2.689l72.316 0c2.33,0 1.943,-1.089 1.943,-2.689 0,-0.574 -2.198,-1.945 -2.733,-2.347 -0.524,-0.395 -0.96,-0.72 -1.45,-1.09 -0.399,-0.3 -1.009,-0.896 -1.644,-0.896l-64.547 0c-0.728,0 -2.447,1.498 -3.095,1.986 -0.535,0.402 -2.733,1.773 -2.733,2.347z"/>
          </g>
          <path class="step4-fil4 step4-str0" d="M64.451 54.69c-3.883,3.755 -9.634,4.829 -14.611,2.728 -6.858,-2.895 -10.07,-10.802 -7.175,-17.66 2.895,-6.858 10.801,-10.07 17.659,-7.175"/>
          <path class="step4-fil1" d="M97.826 72.778l-16.911 -16.912c1.672,-4.274 0.743,-9.293 -2.789,-12.823 -3.717,-3.718 -9.292,-4.461 -13.752,-2.417l7.991 7.992 -5.575 5.575 -8.177 -7.992c-2.231,4.461 -1.301,10.036 2.416,13.754 3.531,3.531 8.549,4.46 12.823,2.788l16.913 16.912c0.743,0.743 1.858,0.743 2.601,0l4.274 -4.274c0.93,-0.743 0.93,-2.044 0.186,-2.602l0 -0.001z"/>
         </g>
        </svg><br><br>
      </div>

      <div class="col s12 l9 left-align">
        <h3>4) Budowa serwisu</h3>
        Serwis jest w trakcie budowy, ale potrzebujemy jeszcze trochę czasu, aby go dokończyć. W tym czasie nie są nakładane na Ambasadorów żadne obowiązki.


      </div>

    </div>

        


            <div class="row"><br>
      <div class="col s12 l3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="108px" height="89px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
              viewBox="0 0 107.241 88.081"
               xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="Warstwa_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"/>
                <path class="step5-fil0 step5-str0" d="M47.553 73.065l0 0zm0 0c0,-1.016 0.359,-2.467 0.526,-3.298l1.93 -9.925c0.149,-0.53 -0.099,-0.424 0.919,-0.994l5.941 -4.002c0.639,-0.478 1.649,-1.481 2.348,-1.667 -0.729,3.128 -1.234,6.855 -1.916,9.747 -0.292,1.238 -4.657,5.144 -5.684,6.172 -1.005,1.004 -3.07,3.302 -4.064,3.967zm-32.507 -32.507l0 0zm0 0c0.531,-0.792 6.588,-6.683 7.792,-7.887 2.325,-2.326 1.104,-1.598 5.386,-2.454 2.15,-0.43 4.563,-0.823 6.708,-1.323 -0.165,0.619 -0.381,0.655 -0.765,1.146l-4.769 6.896c-0.863,1.495 -0.08,0.971 -4.168,1.76l-10.184 1.862zm-9.943 4.016c0,0.994 0.907,2.295 2.294,2.295 1.99,0 15.915,-3.239 18.357,-3.442 -0.517,0.977 -3.442,6.95 -3.442,7.84 0,2.067 3.916,4.542 4.972,6.118 -1.232,1.84 -4.589,3.459 -4.589,5.929 0,0.982 0.964,2.103 2.485,2.103 1.734,0 4.161,-3.662 5.546,-4.59 1.388,0.93 4.289,4.972 5.928,4.972 1.138,0 6.921,-2.855 8.031,-3.442 -0.201,2.408 -3.442,16.183 -3.442,18.549 0,0.992 1.641,3.038 3.697,1.593l14.899 -14.931c0.553,-0.553 1.521,-1.269 1.783,-2.042l3.247 -16.639c0.348,-1.833 1.183,-2.2 2.431,-3.496 0.453,-0.471 0.52,-0.686 0.953,-1.151 2.917,-3.138 5.998,-7.723 8.234,-11.461 0.532,-0.889 0.974,-1.717 1.461,-2.555 2.721,-4.682 5.403,-11.521 7.156,-16.746 0.908,-2.708 2.008,-6.722 2.527,-9.525 0.932,-5.024 -3.615,-3.511 -6.617,-2.788 -3.578,0.861 -8.649,2.501 -12.017,3.854 -9.023,3.625 -17.719,8.227 -25.032,14.741 -0.434,0.386 -0.607,0.431 -1.053,0.86 -3.651,3.515 -2.101,2.261 -10.099,3.86 -2.204,0.441 -4.31,0.824 -6.565,1.275 -4.169,0.834 -3.399,0.212 -5.609,2.422 -1.716,1.716 -10.583,10.784 -12.014,11.888 -1.041,0.805 -3.522,3.114 -3.522,4.509z"/>
                <path class="step5-fil0 step5-str0" d="M3.382 82.244c0,1.504 1.167,2.486 2.486,2.486 1.084,0 1.836,-0.974 2.438,-1.578l12.142 -12.142c0.995,-0.994 2.661,-2.465 0.969,-4.316 -1.617,-1.768 -3.358,0.009 -4.22,0.874l-12.142 12.142c-0.623,0.622 -1.673,1.42 -1.673,2.534z"/>
                <path class="step5-fil0 step5-str0" d="M2.808 71.918c1.462,0 6.891,-6.031 8.175,-7.314l5.832 -5.832c1.24,-1.24 1.673,-1.2 1.673,-2.916 0,-1.315 -1.035,-2.103 -2.486,-2.103 -1.315,0 -3.661,2.8 -4.924,4.063l-9.083 9.083c-0.711,0.71 -1.788,1.487 -1.598,2.851 0.149,1.07 1.339,2.168 2.411,2.168z"/>
                <path class="step5-fil0 step5-str0" d="M16.193 85.495c0,0.94 1.153,2.042 2.199,2.19 1.282,0.181 2.107,-0.851 2.821,-1.569l11.282 -11.282c1.098,-1.097 1.864,-1.479 1.864,-3.107 0,-1.605 -1.332,-2.103 -2.677,-2.103 -1.016,0 -1.669,0.998 -2.247,1.577l-11.76 11.76c-0.667,0.662 -1.482,1.277 -1.482,2.534z"/>
                <path class="step5-fil1 step5-str0" d="M53.668 23.087l0 0.954c0,2.761 2.695,5.456 5.455,5.456l0.819 0c2.689,0 5.455,-2.652 5.455,-5.319l0 -1.091c0,-2.616 -2.703,-5.319 -5.319,-5.319l-1.091 0c-2.614,0 -5.319,2.719 -5.319,5.319z"/>
                <rect class="step5-fil1" x="51.86" y="17.347" width="54.741" height="33.453"/>
                <circle class="step5-fil2 step5-str1" cx="76.444" cy="34.845" r="10.996"/>
                <line class="step5-fil2 step5-str2" x1="71.132" y1="31.307" x2="76.015" y2= "35.997" />
                <line class="step5-fil2 step5-str3" x1="76.445" y1="34.845" x2="88.255" y2= "23.035" />
                <line class="step5-fil2 step5-str2" x1="75.558" y1="35.733" x2="87.368" y2= "23.922" />
                <g id="_644372032">
                 <path class="step5-fil3" d="M51.883 19.133l48.513 0 0 29.254 -48.513 0 0 -29.254zm-2.438 -0.366l0 31.57 53.388 0 0 -31.57c0,-0.698 -0.363,-1.323 -0.794,-1.643 -0.475,-0.353 -1.235,-0.429 -2.009,-0.429l-47.781 0c-1.452,0 -2.804,0.395 -2.804,2.072z"/>
                 <path class="step5-fil3" d="M71.751 55.091c0,-0.281 0.085,-0.366 0.366,-0.366l8.045 0c0.448,0 0.365,0.261 0.365,0.854l-8.776 0 0 -0.488zm-26.694 -0.122c0,1.306 -0.316,2.194 1.585,2.194l58.995 0c1.9,0 1.585,-0.888 1.585,-2.194 0,-0.468 -1.794,-1.586 -2.23,-1.915 -0.427,-0.321 -0.783,-0.587 -1.183,-0.888 -0.326,-0.246 -0.823,-0.732 -1.341,-0.732l-52.657 0c-0.594,0 -1.996,1.223 -2.525,1.62 -0.436,0.329 -2.229,1.447 -2.229,1.915z"/>
                </g>
               </g>
              </svg><br><br>
      </div>

      <div class="col s12 l9 left-align">
        <h3>5) Start serwisu</h3>
        Tak jest. Startujemy. Od tego momentu Twoja organizacja może się "chwalić" posiadaniem statusu Ambasadora oraz polecać i sprzedawać nasze usługi lokalnym firmom.
      


      </div>

    </div>

            <div class="row"><br>
      <div class="col s12 l3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="182px" height="88px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 166.516 80.862"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Warstwa_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <path class="step6-fil0" d="M160.606 43.019l0 29.71 -48.45 0 0 -29.71 24.408 -28.338 24.042 28.338zm-24.225 23.383l-1.856 -1.69c-6.591,-5.977 -10.942,-9.918 -10.942,-14.756 0,-3.942 3.097,-7.04 7.039,-7.04 2.227,0 4.364,1.037 5.759,2.675 1.395,-1.637 3.533,-2.675 5.759,-2.675 3.942,0 7.039,3.098 7.039,7.04 0,4.838 -4.351,8.779 -10.942,14.769l-1.856 1.677z"/>
 
  <g id="_455931504">
   <polygon class="step6-fil2 step6-str0" points="156.537,38.163 148.585,29.494 148.585,19.252 156.949,19.252 "/>
   <path class="step6-fil1 step6-str1" d="M165.156 47.017c-9.607,-10.69 -20.509,-22.156 -30.116,-32.846"/>
   <line class="step6-fil1 step6-str1" x1="107.517" y1="47.017" x2="137.31" y2= "14.25" />
  </g>
  <g id="_455933544">
   <circle class="step6-fil3" cx="78.779" cy="41.8" r="15.51"/>
   <circle class="step6-fil3" cx="78.779" cy="41.8" r="15.51"/>
   <path class="step6-fil4" d="M78.779 51.764l-1.365 -1.243c-4.849,-4.397 -8.05,-7.297 -8.05,-10.855 0,-2.9 2.279,-5.178 5.178,-5.178 1.639,0 3.211,0.762 4.237,1.967 1.026,-1.205 2.599,-1.967 4.236,-1.967 2.9,0 5.178,2.278 5.178,5.178 0,3.558 -3.201,6.458 -8.049,10.864l-1.365 1.234z"/>
   <path class="fil4" d="M78.779 51.764l-1.365 -1.243c-4.849,-4.397 -8.05,-7.296 -8.05,-10.855 0,-2.9 2.279,-5.178 5.178,-5.178 1.639,0 3.211,0.762 4.237,1.967 1.026,-1.205 2.599,-1.967 4.236,-1.967 2.9,0 5.178,2.278 5.178,5.178 0,3.559 -3.201,6.458 -8.049,10.864l-1.365 1.234z"/>
   <line class="step6-fil1 step6-str2" x1="59.328" y1="48.621" x2="32.806" y2= "48.621" />
   <line class="step6-fil1 step6-str2" x1="59.328" y1="48.621" x2="32.806" y2= "48.621" />
   <line class="step6-fil1 step6-str2" x1="58.884" y1="43.317" x2="41.207" y2= "43.317" />
   <line class="step6-fil1 step6-str2" x1="58.884" y1="43.317" x2="41.207" y2= "43.317" />
   <line class="step6-fil1 step6-str2" x1="58.884" y1="37.128" x2="46.067" y2= "37.128" />
   <line class="step6-fil1 step6-str2" x1="58.884" y1="37.128" x2="46.067" y2= "37.128" />
  </g>
  <g id="_456543392">
   <circle class="step6-fil3" cx="45.351" cy="13.24" r="13.24"/>
   <circle class="step6-fil3" cx="45.351" cy="13.24" r="13.24"/>
   <path class="step6-fil4" d="M45.351 21.746l-1.165 -1.061c-4.14,-3.753 -6.872,-6.228 -6.872,-9.266 0,-2.476 1.945,-4.421 4.421,-4.421 1.398,0 2.74,0.651 3.616,1.68 0.876,-1.029 2.219,-1.68 3.617,-1.68 2.475,0 4.42,1.945 4.42,4.421 0,3.038 -2.733,5.513 -6.871,9.274l-1.166 1.053z"/>
   <path class="fil4" d="M45.351 21.746l-1.165 -1.061c-4.14,-3.753 -6.872,-6.228 -6.872,-9.266 0,-2.476 1.945,-4.421 4.421,-4.421 1.398,0 2.74,0.651 3.616,1.68 0.876,-1.029 2.219,-1.68 3.617,-1.68 2.475,0 4.42,1.945 4.42,4.421 0,3.038 -2.733,5.513 -6.871,9.274l-1.166 1.053z"/>
   <line class="step6-fil1 step6-str2" x1="28.747" y1="19.064" x2="6.105" y2= "19.064" />
   <line class="step6-fil1 step6-str2" x1="28.747" y1="19.064" x2="6.105" y2= "19.064" />
   <line class="step6-fil1 step6-str2" x1="28.367" y1="14.535" x2="13.277" y2= "14.535" />
   <line class="step6-fil1 step6-str2" x1="28.367" y1="14.535" x2="13.277" y2= "14.535" />
   <line class="step6-fil1 step6-str2" x1="28.367" y1="9.252" x2="17.426" y2= "9.252" />
   <line class="step6-fil1 step6-str2" x1="28.367" y1="9.252" x2="17.426" y2= "9.252" />
  </g>
  <g id="_456546176">
   <circle class="step6-fil3" cx="39.246" cy="67.622" r="13.24"/>
   <circle class="step6-fil3" cx="39.246" cy="67.622" r="13.24"/>
   <path class="step6-fil4" d="M39.246 76.128l-1.165 -1.061c-4.14,-3.754 -6.872,-6.229 -6.872,-9.267 0,-2.476 1.945,-4.421 4.42,-4.421 1.399,0 2.741,0.651 3.617,1.68 0.876,-1.028 2.219,-1.68 3.617,-1.68 2.475,0 4.42,1.945 4.42,4.421 0,3.038 -2.733,5.513 -6.872,9.275l-1.165 1.053z"/>
   <path class="fil4" d="M39.246 76.128l-1.165 -1.061c-4.14,-3.754 -6.872,-6.229 -6.872,-9.267 0,-2.476 1.945,-4.421 4.42,-4.421 1.399,0 2.741,0.651 3.617,1.68 0.876,-1.028 2.219,-1.68 3.617,-1.68 2.475,0 4.42,1.945 4.42,4.421 0,3.038 -2.733,5.513 -6.872,9.275l-1.165 1.053z"/>
   <line class="step6-fil1 step6-str2" x1="22.642" y1="73.445" x2="0" y2= "73.445" />
   <line class="step6-fil1 step6-str2" x1="22.642" y1="73.445" x2="0" y2= "73.445" />
   <line class="step6-fil1 step6-str2" x1="22.262" y1="68.917" x2="7.172" y2= "68.917" />
   <line class="step6-fil1 step6-str2" x1="22.262" y1="68.917" x2="7.172" y2= "68.917" />
   <line class="step6-fil1 step6-str2" x1="22.262" y1="63.634" x2="11.321" y2= "63.634" />
   <line class="step6-fil1 step6-str2" x1="22.262" y1="63.634" x2="11.321" y2= "63.634" />
  </g>
 </g>
</svg><br><br>
      </div>

      <div class="col s12 l9 left-align">
        <h3>6) Finansowanie Twojej organizacji</h3>
          Od teraz każda firma, która dołączy do serwisu w Twoim mieście, będzie automatycznie wspierała Twoją organizację. Za każdą rezerwację lub sprzedaż usługi po przez serwis Rezervi&trade; Twoja organizacja otrzyma min 1 PLN.<br><BR><BR><br>


      </div>

    </div>



  </div></div></div></div></span></div></div>
  
 


  <div class="row z-depth-1 white secondary-text vertial-align z-depth-1" style="transform: rotate(180deg); position:fixed; bottom:0; left:0; width:100%; margin:0;  padding: 5px; ">
  <div class="row "  style=" transform: rotate(180deg); margin-bottom: 0px;">
    
    <div class="col s12 l4 offset-l4 center-align">
    <span>Do końca terminu zgłoszeń pozostało:<br></span>
    <span id="countdown"></span>
    </div>
    <div class="col s12 l4">
      <div style="position:relative; bottom:-8px; "> 
        <%= link_to new_ngo_path, class: "waves-effect waves-light btn primary" do %>
          <i class="material-icons ">forward</i><span >Aplikuję teraz</span>
        <% end %>
      </div>
    </div>

  </div>
</div>
</span>
</div>



<br>
<!-- <<< Steps -->

<script>
// Set the date we're counting down to
var countDownDate = new Date("May 4, 2020 23:59:59").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("countdown").innerHTML = "<span style='font-size:20px;'>" + days  + "</span>"+ " dni " + "<span style='font-size:20px;'>" + hours + "</span>"  + " godzin " + "<span style='font-size:20px;'>"   + minutes  + "</span>" + " minut " + "<span style='font-size:20px;'>" + seconds + "</span>" + " sekund ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown").innerHTML = "Czas minął. Zakończono zbieranie aplikacji.";
  }
}, 1000);



$(".scroll_to").click(function() {
    console.log()
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#target-element").offset().top
    }, 2000);
});
</script>