 <% content_for :menu do %> <%= render 'layouts/ambassador_navbar'%> <% end %>

<%= form_with url: ngos_path, model: @ngo, local: true do |f| %>
	
	<div class="container">
		<div class="panel white center-align-">
			<h2 class="primary-text">Aplikacja o status Ambasadora Rezervi&trade;</h2>
			<div class="row">
				<div class="col s12 l4">
					<div class="input-field">
						<%= f.text_field :full_name, id: 'full_name' %>
						<%= f.label :full_name, 'Pełna nazwa Organizacji', for: 'full_name', class: "active" %>
						<span class="helper-text red-text"><%= @ngo.errors[:full_name].first %></span>
					</div>
					<div class="input-field">
						<%= f.email_field :email, id: 'email' %>
						<%= f.label :email, 'Adres email', for: 'email' %>
						<span class="helper-text red-text"><%= @ngo.errors[:email].first %></span>

						Na ten adres wyślemy informacje o kwalifikacji do programu.
					</div>
					<br>
					<div class="input-field">
						<%= f.text_field :nip_number, id: 'nip_number' %>
						<%= f.label :nip_number, 'NIP', for: 'nip_number' %>
						<span class="helper-text red-text"><%= @ngo.errors[:nip_number].first %></span>
					</div>
					<div class="input-field">
						<%= f.text_field :krs_number, id:'krs_number' %>
						<%= f.label :krs_number, 'KRS', for: 'krs_number' %>
						<span class="helper-text red-text"><%= @ngo.errors[:krs_number].first %></span>
					</div>
					<div class="input-field">
						<%= f.text_field :regon_number, id:'regon_number' %>
						<%= f.label :regon_number, 'REGON', for: 'regon_number' %>
						<span class="helper-text red-text"><%= @ngo.errors[:regon_number].first %></span>
					</div>
				</div>

				<div class="col s12 l4 offset-l2">
					<%= f.fields_for :address do |ff| %>
						<div class="input-field">
							<%= ff.text_field :city_name, id:'address_city_name' %>
							<%= ff.label :city_name, 'Miasto', for: 'address_city_name' %>
							<span class="helper-text red-text"><%= @address.errors[:city_name].first %></span>
						</div>
						<div class="input-field">
							<%= ff.text_field :zip_code, id: 'address_zip_code' %>
							<%= ff.label :zip_code, 'Kod pocztowy', for: 'address_zip_code' %>
							<span class="helper-text red-text"><%= @address.errors[:zip_code].first %>
						</div>
						<div class="input-field">
							<%= ff.text_field :street_name, id:'address_street_name' %>
							<%= ff.label :street_name, 'Ulica', for: 'address_street_name' %>
							<span class="helper-text red-text"><%= @address.errors[:street_name].first %>
						</div>
						<div class="input-field" style="width:50%; display:inline-block; margin-top:0;">
							<%= ff.text_field :street_number, id:'address_street_number' %>
							<%= ff.label :street_number, 'Nr budynku', for: 'address_street_number' %>
							<span class="helper-text red-text"><%= @address.errors[:street_number].first %>
						</div>
						<div class="input-field right" style="width:50%; display:inline-block; margin-top:0;" >
							<%= ff.text_field :flat_number, id:'address_flat_number' %>
							<%= ff.label :flat_number, 'Nr lokalu', for: 'address_flat_number' %>
						</div>
						
					<% end %>
				</div>

				<div class="col s12 l4 offset-l2">
						<label>
							<%= f.check_box :opp, class: "filled-in" %>
							<span>Czy Twoja Organizacja posiada status opp?</span>
						</label><br>

						<label>
							<%= f.check_box :business, class: "filled-in" %>
							<span>Czy Twoja Organizacja prowadzi działalność gospodarczą?</span>
						</label><br>

						<label>
							<%= f.check_box :future_business_possible, class: "filled-in" %>
							<span>Czy Twoja Organizacja jest gotowa rozpocząć prowadzenie działalności gospodarczej w&nbsp;przyszłosci (za kilka miesięcy)?</span>
						</label>   
				</div>

				<div class="col s12 l12 center-align">
					<%= f.button "Wyślij Aplikację", class: "btn primary", style:"padding:0 20px;" %>
				</div>

			</div>
		</div>
	</div>
<% end %>
