<h1>NGOs Raport</h1><br><br>

<h2><%= Ngo.count %></h2><br>

<% Ngo.all.each do |n| %>
<tr>
	<td>
			<%= n.full_name %></td>
		<td>
	 		<%= n.email %></td>
		<td>
	 		<%= n.address.city_name %>
	</td>
  </tr>
<% end %>