 <% content_for :menu do %> <%= render 'layouts/ambassador_navbar'%> <% end %>


 <br><br><br>

<div class="container center-align">
 <h2 class="secondary-text">System w budowie</h2>
</div>



<div class="row">
  
  <div class="col s6"></div>
</div>

<!-- Ekosystem >>> -->



  <div class="container- center-align">


    <br><h2 class=" primary-text"> Ekosystem rezervi&trade;</h2><br><br>



    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="314px" height="317px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 280.121 282.933"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <g id="Warstwa_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g id="circle-path">
  
<polygon id="arrow1-" class="fil2-ekosystem" points="155.246,8.761 169.854,17.765 169.854,17.765 153.886,24.05 "/>
  <polygon id="arrow2" class="fil2-ekosystem"  points="44.726,196.51 43.698,179.38 43.698,179.38 58.019,188.835 "/>
  <polygon id="arrow3" class="fil2-ekosystem " points="263.279,175.6 250.181,186.688 250.181,186.688 249.169,169.557 "/>
  <path id="circle-path-" class="fil0-ekosystem str0-ekosystem" d="M163.516 245.44c-63.01,8.145 -120.691,-36.331 -128.835,-99.34 -8.146,-63.01 36.33,-120.691 99.34,-128.836 63.009,-8.145 120.691,36.33 128.836,99.34 8.145,63.01 -36.331,120.691 -99.341,128.836z"/>
  
  </g>
  <path class="fil0-ekosystem str1-ekosystem" d="M165.497 260.757c-71.47,9.239 -136.895,-41.208 -146.134,-112.677 -9.238,-71.47 41.208,-136.895 112.678,-146.134 71.469,-9.238 136.894,41.209 146.133,112.678 9.239,71.469 -41.208,136.895 -112.677,146.133z"/>
  <path class="fil0-ekosystem str1-ekosystem" d="M161.48 229.685c-54.309,7.02 -104.024,-31.314 -111.044,-85.622 -7.02,-54.308 31.313,-104.024 85.622,-111.044 54.308,-7.02 104.023,31.313 111.044,85.622 7.02,54.308 -31.314,104.024 -85.622,111.044z"/>
  <circle class="fil1-ekosystem str2-ekosystem" cx="147.236" cy="131.012" r="47.788"/>

  <circle class="fil3-ekosystem" cx="148.358" cy="131.261" r="3.292"/>
  <circle class="fil4-ekosystem str2-ekosystem" cx="240.703" cy="60.039" r="35.659"/>
  <path class="fil5-ekosystem" d="M258.727 59.719l0 22.063 -35.981 0 0 -22.063 18.127 -21.045 17.854 21.045zm-17.991 17.365l-1.378 -1.255c-4.895,-4.439 -8.126,-7.366 -8.126,-10.959 0,-2.927 2.3,-5.227 5.227,-5.227 1.654,0 3.241,0.77 4.277,1.986 1.036,-1.216 2.624,-1.986 4.277,-1.986 2.927,0 5.228,2.3 5.228,5.227 0,3.593 -3.232,6.52 -8.127,10.969l-1.378 1.245z"/>
  <polygon class="fil0-ekosystem" points="241.339,40.421 257.632,40.421 257.632,56.714 241.339,56.714 "/>
  <g id="_443284232">
   <polygon class="fil3-ekosystem str3-ekosystem" points="255.705,56.112 249.799,49.675 249.799,42.069 256.011,42.069 "/>
   <path class="fil0-ekosystem str4-ekosystem" d="M262.105 62.688c-7.134,-7.939 -15.23,-16.454 -22.364,-24.393"/>
   <line class="fil0-ekosystem str4-ekosystem" x1="219.301" y1="62.688" x2="241.427" y2= "38.354" />
  </g>
  <circle class="fil4-ekosystem str2-ekosystem" cx="150.804" cy="246.382" r="35.659"/>
  <path class="fil5-ekosystem" d="M171.472 225.713l-41.337 0 0 5.168 41.337 0 0 -5.168zm2.584 25.836l0 -5.167 -2.584 -12.918 -41.337 0 -2.584 12.918 0 5.167 2.584 0 0 15.501 25.836 0 0 -15.501 10.334 0 0 15.501 5.167 0 0 -15.501 2.584 0zm-23.252 10.334l-15.501 0 0 -10.334 15.501 0 0 10.334z"/>
  <rect class="fil4-ekosystem" x="137.942" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="145.182" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="152.437" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="159.692" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="166.948" y="233.464" width="4.031" height="18.085"/>
  <rect class="fil4-ekosystem" x="130.671" y="233.464" width="4.031" height="18.085"/>
  <circle  class="fil4-ekosystem str2-ekosystem" cx="36.352" cy="106.79" r="35.46"/>
  <path class="fil5-ekosystem" d="M43.511 84.745c-2.592,-1.73 -6.465,-2.348 -9.502,-1.923 0.641,0.598 0.178,0.337 0,0.611 -7.044,1.11 -9.314,5.4 -10.162,13.167 -0.732,6.716 -1.496,14.625 -1.428,21.371 0.055,-0.107 0.123,-0.247 0.15,-0.329 0.557,-1.74 0.327,-2.638 0.722,-5.425 0.294,-2.071 0.26,-4.222 0.327,-6.315l0.066 11.557 2.222 -0.679c0.141,-0.319 0.161,-0.115 0.393,-1.181 0.003,-0.012 0.079,-1.118 0.029,-1.241l0.569 2.077 3.442 -0.533c-1.273,3.066 -5.369,3.781 -9.147,5.369 -4.013,1.688 -4.326,4.749 -5.11,9.616l40.539 -0.088c-2.141,-13.118 -5.583,-7.575 -12.625,-12.726 -0.733,-0.537 -0.802,-0.836 -1.738,-1.385 0.285,-0.277 -0.809,-1.14 1.603,-0.712 0.846,0.15 3.391,1.324 4.712,0.517 1.162,-5.415 1.416,-27.427 -5.062,-31.748z"/>
  <circle  class="fil4-ekosystem str2-ekosystem" cx="147.237" cy="131.012" r="38.873"/>
  <g id="_443289968">
   <circle  class="fil0-ekosystem str5-ekosystem" cx="147.237" cy="131.012" r="20.873"/>
   <line class="fil0-ekosystem str6-ekosystem" x1="139.088" y1="122.358" x2="148.358" y2= "131.261" />
   <line class="fil0-ekosystem str7-ekosystem" x1="149.173" y1="129.074" x2="171.592" y2= "106.655" />
   <line class="fil0-ekosystem str6-ekosystem" x1="147.49" y1="130.759" x2="169.909" y2= "108.34" />
  </g>
  <circle cx="127.026" cy="102.745" r="0.434" class="fil0-ekosystem"/>
 </g>

            <animateTransform 
                xlink:href="#circle-path"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="360 147.236 130.759"
                    to="0 147.236 130.759"
                    dur="1600ms"
                begin="500ms"
                    repeatCount="indefinite"/>

            <animateTransform 
                xlink:href="#arrow1"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="180 147.236 130.759"
                    to="0 147.236 130.759"
                    dur="1600ms"
                begin="500ms"
                    repeatCount="indefinite"/>

</svg>


<div class="container">
<div style="position:relative; top: -260px; left:200px; width:200px; text-align:left;" class="hide-on-small-only">
  <b>Użytkownik serwisu</b><br>kupuję lub rezerwuję usługę w&nbsp;Lokalnej Firmie</div>


<div style="position:relative; top: -380px; right:-780px; width:200px; text-align:left;" class="hide-on-small-only"><b>Twoja organizacja</b><br> wspiera przedsiębiorcę marketingowo</div>

<div style="position:relative; bottom: 130px;" class="hide-on-small-only" ><b> Lokalna firma</b><br> wspiera Twoją <br>organizację finansowo</div>

<div class="hide-on-med-and-up left-align"><b>1) Użytkownik serwisu</b> kupuję lub rezerwuję usługę w&nbsp;Lokalnej Firmie.</div><br>

<div class="hide-on-med-and-up left-align"><b>2) Twoja organizacja</b> wspiera przedsiębiorcę marketingowo.</div><br>

<div class="hide-on-med-and-up left-align"><b>3) Lokalna firma</b> wspiera Twoją organizację finansowo.</div>



  </div>
</div>




<!-- <<< Ekosystem -->