




<!-- Container >>> -->
<div class="container">
  <div class="row">
    <div class="col s12 l12 red- lighten-4">
      <div class="panel white row" >
          <div class="col s12 l12 row">
                Zamówienie nr: <span class="total-price"><%= order.id %></span>
                <br>
                <%= order.price_with_ducat %><br>

                <%= order.kind_of_booking %>
             <div class="right-align">
              Do zapłaty <b><span class="total-price">123<span class="pennies">,45 zł brutto</span></span></b> 
            </div>
            
            <div class="col s12 l8 right-align- right-col- btn-flat  lighten-3" >
  
              <a class="waves-effect waves-light btn secondary right-align-l"><i class="material-icons ">forward</i><span style=" ">Szczegóły</span></a>
                <br><br>  <br><br> 
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container --> 


<%= render partial: 'order_booking', collection: @order_booking rescue 'nil' %>


          




