<!-- Container >>> -->
<div class="container" >
  <div class="row">
    <div class="col l12 red- lighten-4">
      <div class="panel white row " style="padding-bottom: 0;" >
          
            
            
          <div class="col s12 l6  row  secondary-text">  
            <div class="col s5 l3 red-">
              <div class="company-logo-wrapper-">
                <div class="company-logo grey lighten-2" style="width:100px; height:100px; position:static; top:0; left:0; float:none; clear: both; margin-bottom:0;"></div>
              </div>
            </div>
  
          <div class="col s7 l9">
            <span class="right-" style="position:relative; top:35px;">
              <h3><%= order_booking.company.name %></h3>
           </span> 
          </div>
      </div>
          
      <div class="col s12 l6 offset-l1- row  hide-">                               
        <div class="col s6 l4 center-align" style="border-top:0px solid #00acc1; padding-top: 4px !important">
          <%= configured_date(order_booking.starts_at) %> 
        </div>
        <div class="col s6 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
          <%= configured_starts_at(order_booking.starts_at) %>
        </div>
        <div class="col s12 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">   
        </div>
      </div>

    </div>



    <div class="col s12 l12 offset-l1- red- lighten-4">
      <ul class="panel white collapsible- collapsible-arrow- primary-collapsible- hide-" data-collapsible="expandable" style="">
        <li class="active" id="wrapper-col">
          <div class="collapsible-body-" style="display: block;">
              
            <!-- second collapsible -->
            <ul class="collapsible- collapsible-arrow- secondary-collapsible- hide-" data-collapsible="expandable" id="category-list-">
              <li class="category-item active" style="">
                  <div class="collapsible-body secondary-collapsible-body" style="display: block;">
                    <ul class="collection " style=" position:static; float:none !important;  clear: both;">
                      <!-- order_item do-->
                      <%= render partial: "#{action_name == 'resume' ? 'order_item_resume' : 'order_item'}", collection: order_booking.order_items, as: 'order_item' %>
                      <!-- order_item end-->
                        
                    </ul>
                  </div>
                </li>
              </ul>

            <!-- end second collapsible -->
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>
