<% content_for :menu do %> <%= render 'layouts/navbar'%> <% end %>



<div class="container">
  <div class="row no-mar-bottom">
    <div class="col s12 l9 red- lighten-4">
      <div class="panel empty no-mar-bottom" >
      <h1 class="bottom0">Moje rezerwacje i zamówienia</h1>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container -->
<% @orders.each do |order| %>
	 <%order.id %>
<% end %>

<table>
<%= render partial: 'orders', collection: @orders, as: 'order' %>
</table>

          




