<div id="business_cart">
<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35px" height="56px"  version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 2.05 1.74"
         xmlns:xlink="http://www.w3.org/1999/xlink">
   <defs>
    <style type="text/css">
     <![CDATA[
      .fil0 {fill:none}
      .fil1 {fill:#ff7b25 }
      .fil2 {fill:#00acc1}
     ]]>
    </style>
   </defs>
   <g id="Warstwa_x0020_1">
    
    <path class="fil1" d="M1.52 0.64l-0.41 -0.6c-0.01,-0.03 -0.04,-0.04 -0.07,-0.04 -0.03,0 -0.06,0.01 -0.08,0.04l-0.4 0.6 -0.44 0c-0.05,0 -0.09,0.04 -0.09,0.09 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.05 -0.04,-0.09 -0.09,-0.09l-0.44 0zm-0.76 0l0.28 -0.4 0.27 0.4 -0.55 0z"/>
    <circle class="fil2" cx="1.04" cy="1.2" r="0.54"/>
    <path class="fil1" d="M0.08 0.65c-0.03,0.01 -0.05,0.05 -0.05,0.08 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.03 -0.02,-0.07 -0.05,-0.08l-1.92 0z"/>
   </g>
</svg>
<div  class="cart-size secondary"><%= current_cart.cart_size rescue '0'%></div>
</div>