<svg id="logo" width="50" height="55" style="background-color:red-;">

   
   <circle id="circle" cx="25" cy="30" r="0" stroke="gray" stroke-width="5" fill="transparent"  />
   <line id="line-white" x1="25" y1="30" x2="25" y2="30" style="stroke:white;stroke-width:7.5" transform="rotate(0  25 25)" transform="origin(25 30)" />
   
   <line id="line-big" x1="25" y1="30" x2="25" y2="30" style="stroke:#00acc1 ;stroke-width:2.5" />
   
    <line id="line-big-accent" x1="25" y1="30" x2="25" y2="30" style="stroke:gold; stroke-width:2.5" />
 
 
  
  <line id="line-small" x1="15" y1="30" x2="15" y2="30" style="stroke:#00acc1 ;stroke-width:2.5 " />
   
   <line id="line-small-accent" x1="15" y1="30" x2="15" y2="30" style="stroke:gold;stroke-width:2.5 " />
   
   
        <animate 
           xlink:href="#circle"
           attributeName="r"
           from="2"
           to="20" 
           dur="100ms"
           begin="300ms"
           fill="freeze" />
  
        <animate 
           xlink:href="#circle"
           attributeName="stroke-width"
           from="2"
           to="5" 
           dur="100ms"
           begin="400ms"
           fill="freeze" />
        
           
           <animateTransform 
                xlink:href="#line-white"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="500ms"
                    fill="freeze"/>
           
           <animateTransform 
                xlink:href="#line-big"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
                     <animateTransform 
                xlink:href="#line-big-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
           <animateTransform 
                xlink:href="#line-small"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
                     <animateTransform 
                xlink:href="#line-small-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
           <animate 
           xlink:href="#line-small"
           attributeName="x2"
           from="15"
           to="26" 
           dur="150ms"
           begin="1100ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#line-small-accent"
           attributeName="x2"
           from="15"
           to="26" 
           dur="100ms"
           begin="1500ms"
            />
           
           <animate 
           xlink:href="#line-big"
           attributeName="y2"
           from="30"
           to="1" 
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#line-big-accent"
           attributeName="y2"
           from="30"
           to="1" 
           dur="100ms"
           begin="1700ms"
            />
           
           <animate 
           xlink:href="#line-white"
           attributeName="y2"
           from="30"
           to="5" 
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
           
           
           <animate 
           xlink:href="#circle"
           attributeName="stroke"
           from="blue"
           to="silver" 
           dur="300ms"
           begin="200ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#circle"
           attributeName="stroke"
           from="silver"
           to="#ff7b25" 
           dur="300ms"
           begin="600ms"
           fill="freeze" />
   Sorry, your browser does not support inline SVG.
</svg>