  <span id="cart">
  <%= link_to(cart_path, class: "btn-floating btn-flat primary waves-effect- waves-light-") do  %>
    <i class="material-icons ">shopping_basket</i> 
   <% end %>
  <% unless current_cart.cart_size <= 0 %>
   <div  class="cart-size secondary"><%= current_cart.cart_size rescue '0' %></div>
   <% end %>
</span>