<% content_for :menu do %> <%= render partial: 'layouts/navbar_cart', locals: {step: 'first'} %> <% end %>



<div class="container">
  <div class="row no-mar-bottom">
    <div class="col s12 l9 red- lighten-4">
      <div class="panel empty no-mar-bottom" >
      <h1 class="bottom0">Koszyk</h1>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container -->

<!-- Container >>> -->
<div class="container" >
  <div class="row">
    <div class="col s12 red- lighten-4">
      <div class="panel white row " >
          <div class="col s12 l12 offset-l6- row-">
            
            
              <div class="col s12 l6 offset-l3- row radio-toolbar discount_area hide- secondary-text">  <h3>Wybierz rodzaj rezerwacji</h3>i zgarnij dodatkowe bonusy!

       

          </div>
<%= form_with url: set_kind_carts_path, method: :patch, remote: true do |f| %>
          <div class="col s12 l6 offset-l1- row radio-toolbar discount_area hide-">
                                            
            <div class="col s4 l4 center-align" style="border-top:0px solid #00acc1; padding-top: 4px !important">
              
              <%= f.radio_button :kind_of_booking, 'booking', checked: @cart.booking?, id: "booking", onchange: 'Rails.fire(this.form, "submit")' %>
                    <%= f.label :kind_of_booking, 'tylko rezerwacja' , for: "booking", class: "secondary-label  mini", style: "max-width:150px;" %>
            </div>

            <div class="col s4 l4 center-align discount_area" style="border-top:0px solid #00acc1; padding-top: 4px !important">

              <%= f.radio_button :kind_of_booking, 'buying', checked: @cart.buying?, id: "buying", onchange: 'Rails.fire(this.form, "submit")'%>
               <%= f.label :kind_of_booking, 'kup teraz' , for: "buying", class: "mini", style: "max-width:150px;" %>
               
            </div>

            <div class="col s4 l4 center-align discount_area" style="border-top:0px solid #00acc1; padding-top: 4px !important">

                <%= f.radio_button :kind_of_booking, 'prepayment', checked: @cart.prepayment?, id: "prepayment", onchange: 'Rails.fire(this.form, "submit")'%>
               <%= f.label :kind_of_booking, 'kup teraz' , for: "prepayment", class: "mini", style: "max-width:150px;" do %>
                 kup teraz<br>i zapłać online
               <% end %>
            </div>
<% end %>
            </div>
        </div>
    </div>
  </div>
</div>
</div>


<%= render partial: 'cart_booking', collection: @cart_bookings %>


          




<!-- <<< Container --> 

<!-- Container >>> -->
<div class="container" style="padding-top: 0">
  <div class="row no-mar-bottom-">
    <div class="col s12 l4 red- lighten-4">
      <div class="panel center-align no-mar-bottom panel-height-200 <%= @cart.cart_discount_standard_price == 0 ? 'grey- lighten-2 grey-text text unactive' : 'white'  %>" >
      <h2>Oszczędzasz</h2>
      <br>
      <% unless @cart.cart_discount_standard_price == 0 %>

      <span class="discount badge primary- green" ><%= price_for_human(@cart.cart_discount_standard_price) %> </span><br>
      dzięki rezerwacji na <span class="primary-text">rezervi&trade;</span><br><br>
      <% else %>
      <div class="unactive-">
        <span class="discount badge primary- grey" ><%= price_for_human(@cart.cart_discount_standard_price) %> </span><br>
      </div>
     <div class="black-text">
     możesz zaoszczędzić aż
     <span class="discount- badge- primary- grey- lighten-2-" ><%= price_for_human(@cart.cart_max_standard_discount) %> </span><br>
     wybierając opcję <span class="primary-text">kup teraz i zapłać online</span><br><br>
     </div>
      <% end %>
      </div>
    </div>
    <div class="col s12 l4 blue- lighten-4">
      <div class="panel white- center-align no-mar-bottom panel-height-200 <%= @cart.cart_discount_affiliate_count == 0 ? 'grey- lighten-2 grey-text text unactive' : 'white'  %>" >
        <h2>Zyskujesz</h2><br>
   <div class="row">
    <div class="col s12">
      <span class="card_amount grey-text text-darken-2 hide-"><b></b></span><span class='card_amount grey-text text-darken-2 hide-'><%= @cart.cart_discount_affiliate_count %>x </span>
       <div id="card no-shadow" class="orange- lighten-2 center-align depth-1" style="width: 88px; height: 62px; border-radius:5px; overflow: hidden; position:relative; border:1px solid gray ;display:inline-block; margin-bottom:4px;">
            <img src="" />
            <div style="position: absolute;  bottom: 0;  margin: 0 auto;   width:100%; ">
              <div class="discount badge green ">
                <i class="material-icons tiny " style="position:relative; top:2px;">local_offer</i> 
                -&nbsp;%
              </div>
            </div>
          </div>
          <br>
          karty rabatowe na kolejne zakupy u partnerów
</div>
<div class="col s6- hide">
   <br><span class="ducat_amount grey-text text-darken-2 hide-"><b>2</b></span>   
       <span class="dukat z-depth-1 primary-text" style="background-color:yellow-; z-index:3 ;background-image: radial-gradient(#ffbf00 35%, #ffcf40 65%, #ffdc73 90%);
; color:dark; border:2px solid #a67c00; border-radius:50% !important; "><div class="center-align" style=" font-weight:bold; font-size:15px; position:relative; top:1px;"><i class="material-icons yellow-text-" style="color:#a67c00;">local_offer</i><b></b></div></span><br>
<br>Dukatów z Rabatem&trade;
</div>
</div>



                                    
      </div>
    </div>
     <div class="col s12 l4 blue- lighten-4">

      <div class="panel white center-align no-mar-bottom panel-height-200" >
        <h2>Wspierasz</h2>
        <br>
        wybraną lokalną organizaję
        <br><%= ducat_heart_count(@cart.cart_discount_heart_count) %><br>
Dukatami z Serduszkiem&trade;
      </div>
    </div>
  </div>

</div>
<!-- <<< Container --> 






<!-- Container >>> -->
<div class="container">
  <div class="row">
    <div class="col l12 red- lighten-4">
      <div class="panel white row" >
          <div class="col s12 l12 offset-l6- row">
            
             <div class="right-align">
              Razem <b><span class="total-price"><%= price_for_human(@cart.cart_total) %></span></b> 
            </div>
            <div class="col s12 l4 left-align- center-align" >
            
              <a class="waves-effect waves-light btn- btn-flat primary- secondary-text left-align-l"><i class="material-icons ">arrow_back</i><span style=" ">Wstecz</span></a>
            </div>
            <div class="col s12 l8 right-align- right-col- btn-flat  lighten-3" >
  
              <%= link_to cart_resume_path, class: 'waves-effect waves-light btn primary right-align-l' do %>
              <i class="material-icons ">forward</i><span style=" ">Podsumowanie</span>
              <% end %>
                <br><br>  <br><br> 
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container --> 