<li class="collection-item switcher- card no-shadow photo hoverable panel-expendable" style="border:bottom:2px solid transparent; padding:0">
  <div class="row bottom-line- ">
                         
                                        <div class="col s12 l6">
                                            <div class="col s5 l3">
                                          <img src="" alt="" class="responsive-img circle square grey lighten-1 mini-photo-service-" style="width:100px; height:100px !important;">
                                        </div>
                                        <div class="col s7 l8 right-col photo-padding switcher-handler-">
                                          <h3 class="title-"><%= cart_item.service.name %> </h3>
                                         


                                           
                                            <div class="col s12 l12 center-align-"> 
                                              <b><span class="price"><%= price_to_h(cart_item.service.price) %></span></b>
                                             <span></span></div>
                                            <% cart_item.service.price_booking_discount %><br>
                                            <% cart_item.service.price_buying_discount %><br>
                                            <% cart_item.service.price_prepayment_discount %><br>
                                            <% cart_item.price_with_avaliable_discounts %>
                                            
                                    
                                          </p> 

                                        </div>
                                        </div>
                                        
                                       

                                        
                                       
                                       

                                        <div class="col s12 l6 right-col photo-padding switcher-handler- hide">
                                         <p> <a href="#"></a></p>

                                          <i class="material-icons icon-summary" style="">person</i> 

                                          <b>Jan Kowalski</b>
                                            <span class="grey-text text-darken-2">Fryzjer, stylista</span>                         

                                       
                                                                  
                                            
                            
                                           <br> <i class="material-icons icon-summary" style="">watch_later</i>  
                                            <b>8:40</b>
                                          </p>

                                        </div>


                                         
                                         <div class="col s12 offset-l2- l6 red- row  bonus-frame extra extra-m- content- hide-on-small-only- right-">
   
                                       
                                          <div class="center-align">Bonusy</div>
              
                                

                                           <% if cart_item.service.any_discount? %>
                                                      <%= render partial: 'resume_discount', locals: {service: cart_item.service} %>
                                           <% end %>

                                          



                                    </div>

<div class="hide-on-med-and-up row">
  
                                        </div>

                                  </div>
</li>
      