

  <div class="col s4 offset-l6- l4 center-align lighten-3">
    <span class="bonus-label">za rezerwację</span>
  </div>
  <div class="col s4 offset-l6- l4 center-align">
    <span class="bonus-label">za zakup online</span>
  </div>
  <div class="col s4 offset-l6- l4 center-align">
   <span class="bonus-label">za płatność online</span>
  </div>


  
  <div class="booking_discount col s4 l4 center-align min-40" >
     <%= choose_discount_kind(service.booking_discount) if service.booking_discount  %>
  </div>
  
  <div class="<%= @cart.buying? || @cart.prepayment? ? '': 'hide' %> buying_discount col s4 l4 center-align orange- lighten-5- min-40">
   <%= choose_discount_kind(service.buying_discount) if service.buying_discount  %>


  </div>
  <div class="<%= @cart.prepayment? ? '': 'hide' %> prepayment_discount col s4 l4 center-align orange- lighten-5- min-40">
    <%= choose_discount_kind(service.prepayment_discount) if service.prepayment_discount %>
    
  </div>
  
  <div class="col s12 offset-l6- l12 center-align min-40-">
    <div class="col s12  center-align">
    </div>
    </div> 





