 <html>
 <head>
 <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../sass/materialize.css">
<link rel="stylesheet" type="text/css" href="../js/slick/slick.css"/>
<!-- Add the new slick-theme.css if you want the default styling -->
<link rel="stylesheet" type="text/css" href="../js/slick/slick-theme.css"/>
<!-- Compiled and minified JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>

  <nav class="navbar-fixed white hide-" style="position:fixed; margin-bottom:60px; padding:1rem-; width:100% !important;  ">
    <div class="nav-wrapper row-100 white" style="z-index:99999; max-width:1201px;">
      <a href="#" class="brand-logo left hide-"><div class="valign-wrapper">
          <svg id="logo" width="50" height="55" style="background-color:red-;">

   
   <circle id="circle" cx="25" cy="30" r="0" stroke="gray" stroke-width="5" fill="transparent"  />
   <line id="line-white" x1="25" y1="30" x2="25" y2="30" style="stroke:white;stroke-width:7.5" transform="rotate(0  25 25)" transform="origin(25 30)" />
   
   <line id="line-big" x1="25" y1="30" x2="25" y2="30" style="stroke:#00acc1 ;stroke-width:2.5" />
   
    <line id="line-big-accent" x1="25" y1="30" x2="25" y2="30" style="stroke:gold; stroke-width:2.5" />
 
 
  
    <line id="line-small" x1="15" y1="30" x2="15" y2="30" style="stroke:#00acc1 ;stroke-width:2.5 " />
   
   <line id="line-small-accent" x1="15" y1="30" x2="15" y2="30" style="stroke:gold;stroke-width:2.5 " />
   
   
        <animate 
           xlink:href="#circle"
           attributeName="r"
           from="2"
           to="20" 
           dur="100ms"
           begin="300ms"
           fill="freeze" />
  
        <animate 
           xlink:href="#circle"
           attributeName="stroke-width"
           from="2"
           to="5" 
           dur="100ms"
           begin="400ms"
           fill="freeze" />
        
           
           <animateTransform 
                xlink:href="#line-white"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="500ms"
                    fill="freeze"/>
           
           <animateTransform 
                xlink:href="#line-big"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
                     <animateTransform 
                xlink:href="#line-big-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
           <animateTransform 
                xlink:href="#line-small"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
                     <animateTransform 
                xlink:href="#line-small-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
           <animate 
           xlink:href="#line-small"
           attributeName="x2"
           from="15"
           to="26" 
           dur="150ms"
           begin="1100ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#line-small-accent"
           attributeName="x2"
           from="15"
           to="26" 
           dur="100ms"
           begin="1500ms"
            />
           
           <animate 
           xlink:href="#line-big"
           attributeName="y2"
           from="30"
           to="1" 
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#line-big-accent"
           attributeName="y2"
           from="30"
           to="1" 
           dur="100ms"
           begin="1700ms"
            />
           
           <animate 
           xlink:href="#line-white"
           attributeName="y2"
           from="30"
           to="5" 
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
           
           
           <animate 
           xlink:href="#circle"
           attributeName="stroke"
           from="blue"
           to="silver" 
           dur="300ms"
           begin="200ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#circle"
           attributeName="stroke"
           from="silver"
           to="#ff7b25" 
           dur="300ms"
           begin="600ms"
           fill="freeze" />
   Sorry, your browser does not support inline SVG.
    </svg><span class="brand-text primary-text">rezervi<span class="trade">&trade;</span></span></div></a>

      
          <div class="container-progress-step vertical-align- grey- white pin-bar-s" style="z-index:999;" >
                                            <ul id="progress_step_bar" class="progress-step three-step  four-step-">
                                                <li class="in_progress- done"> <i class="material-icons icon " style="">check_circle</i>Koszyk</li>

                                                <li class="active1- in_progress hide"><i class="material-icons icon" style="">local_offer</i> Bonusy</li>
                                                <li class="active1- in_progress- done"><i class="material-icons icon" style="">check_circle</i> Podsumowanie&nbsp;</li>
                                                <li id="payment_step " class="active1- in_progress"><i class="material-icons icon" style="">payment</i> Płatność&nbsp;</li>
                                                
                                            </ul>
                                          </div> 
      <ul id="nav-mobile" class="right hide-on-med-and-down- ">


                                                
        

 
        <li><a href="#" class="hide btn-floating btn-flat secondary btn-large- waves-effect- waves-light- red-text-"><i class="material-icons red-text-">event</i></a></li>
        <li><a href="#" class="hide btn-floating btn-flat primary btn-large- waves-effect- waves-light- red-text-"><i class="material-icons red-text-">shopping_basket</i></a></li>
        <li><a href="#" class="btn-floating btn-flat default white-text center-align">AK</a></li>
        <li><a href="#" class="sidenav-trigger btn-floating btn-flat default "><i class="material-icons dark-text- active-">menu</i></a></li>
        <li  class="hide">
          <a class="btn-floating btn-large white waves-effect waves-grey btn-flat "><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35px" height="56px"  version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 2.05 1.74"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <defs>
          <style type="text/css">
           <![CDATA[
            .fil0 {fill:none}
            .fil1 {fill:#ff7b25 }
            .fil2 {fill:#00acc1}
           ]]>
          </style>
         </defs>
         <g id="Warstwa_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          
          <path class="fil1" d="M1.52 0.64l-0.41 -0.6c-0.01,-0.03 -0.04,-0.04 -0.07,-0.04 -0.03,0 -0.06,0.01 -0.08,0.04l-0.4 0.6 -0.44 0c-0.05,0 -0.09,0.04 -0.09,0.09 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.05 -0.04,-0.09 -0.09,-0.09l-0.44 0zm-0.76 0l0.28 -0.4 0.27 0.4 -0.55 0z"/>
          <circle class="fil2" cx="1.04" cy="1.2" r="0.54"/>
          <path class="fil1" d="M0.08 0.65c-0.03,0.01 -0.05,0.05 -0.05,0.08 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.03 -0.02,-0.07 -0.05,-0.08l-1.92 0z"/>
         </g>
        </svg></a>
        </li>
      </ul>
    </div>
  </nav>




<!-- Header Slider >>> -->


<div class="container">
  <div class="row no-mar-bottom">
    <div class="col s12 l9 red- lighten-4">
      <div class="panel empty no-mar-bottom" >
      <h1 class="bottom0">Płatność</h1>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container -->

<!-- Container >>> -->
<div class="container hide-">
  <div class="row">
    <div class="col l12 red- lighten-4">
      <div class="panel white row" >
          <div class="col s12 l12 offset-l6- row">
            
             <div class="right-align">
              Do zapłaty <b><span class="total-price">123<span class="pennies">,45</span></span></b> 
            </div>
            <div class="hide col s12 l4 left-align- center-align" >
            
              <a class="waves-effect waves-light btn- btn-flat primary- secondary-text left-align-l"><i class="material-icons ">arrow_back</i><span style=" ">Wstecz</span></a>
            </div>
            <div class="hide col s12 l8 right-align- right-col- btn-flat  lighten-3" >
  
              <a class="waves-effect waves-light btn primary right-align-l"><i class="material-icons ">forward</i><span style=" ">Podsumowanie</span></a>
                <br><br>  <br><br> 
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container --> 


<!-- Type of booking >>> -->

<!-- Container >>> -->
<div class="container">
  <div class="row">
    <div class="col l12 red- lighten-4">
      <div class="panel white row " >
          

      <div class="col s12 l12 offset-l1- row radio-toolbar payments discount_area hide- center-align">
        
        <div class="col s12 l4" style="border-top:0px solid #00acc1; padding-top: 4px !important">
           <h2 class=" left-align-l">Wybierz metodę płatności</h2> 
        </div>                                
        
        <div class="col s4 l2 center-align" style="border-top:0px solid #00acc1; padding-top: 4px !important">
          <input type="radio" id="radioChannel" name="discount_id_1" value="Channel_01" checked>
                                          <label for="radioChannel" class="secondary- center-align">  
                                          <img src='<%= "assets/channel_1_pl.png" %>' alt="" class="responsive-img circle- square grey- lighten-1">
                                          <div class="employee-photo- z-depth-1- circle- light-bg "></div>
                                          </label>
        </div>

        <div class="col s4 l2 center-align" style="border-top:0px solid #00acc1; padding-top: 4px !important">
          <input type="radio" id="radioChannel2" name="discount_id_1" value="Channel_01" checked>
                                          <label for="radioChannel2" class="secondary- center-align">  
                                          <img src="../images/channel_1_pl.png" alt="" class="responsive-img circle- square grey- lighten-1">
                                          <div class="employee-photo- z-depth-1- circle- light-bg "></div>
                                          </label>
        </div>

         <div class="col s4 l2 center-align" style="border-top:0px solid #00acc1; padding-top: 4px !important">
          <input type="radio" id="radioChannel3" name="discount_id_1" value="Channel_01" checked>
                                          <label for="radioChannel3" class="secondary- center-align">  
                                          <img src="../images/channel_1_pl.png" alt="" class="responsive-img circle- square grey- lighten-1">
                                          <div class="employee-photo- z-depth-1- circle- light-bg "></div>
                                          </label>
        </div>

      

           
        

      </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container --> 

<!-- <<< Type of booking -->


<!-- Container >>> -->

<!-- Container >>> -->
<div class="container">
  <div class="row no-mar-bottom">
    <div class="col l12 red- lighten-4">
      <div class="panel white no-mar-bottom" >
                                                             <h3>Wybierz operatora płatności</h3>

                                     
                                       
                                        <div class="radio-toolbar row">
                                                                      
           
                                    <div class="col s12 l12s row radio-toolbar employees" style="max-height:300px; overflow-y:auto;">
                                      
                                      <div class="col s4 l3 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <input type="radio" id="radioApple" name="discount_id_1" value="apple" checked>
                                          <label for="radioApple" class="secondary- center-align">  
                                          
                                          <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          </label>

                                          <div class="center-align "> 

                          
                                          <b>Jan Kowalski</b>
                                          <span class="grey-text text-darken-2">Fryzjer, stylista</span>                         
                  
                                         </div>
                                      </div>

                                      <div class="col s4 l3 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <input type="radio" id="radioApple2" name="discount_id_1" value="apple" checked>
                                          <label for="radioApple2" class="secondary- center-align">  
                                          
                                          <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          </label>

                                          <div class="center-align "> 

                          
                                          <b>Jan Kowalski</b>
                                          <span class="grey-text text-darken-2">Fryzjer, stylista</span>                         
                  
                                         </div>
                                      </div>

                                                                            <div class="col s4 l3 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <input type="radio" id="radioApple3" name="discount_id_1" value="apple" checked>
                                          <label for="radioApple3" class="secondary- center-align">  
                                          
                                          <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          </label>

                                          <div class="center-align "> 

                          
                                          <b>Jan Kowalski</b>
                                          <span class="grey-text text-darken-2">Fryzjer, stylista</span>                         
                  
                                         </div>
                                      </div>

                                                                            <div class="col s4 l3 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <input type="radio" id="radioApple4" name="discount_id_1" value="apple" checked>
                                          <label for="radioApple4" class="secondary- center-align">  
                                          
                                          <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          </label>

                                          <div class="center-align "> 

                          
                                          <b>Jan Kowalski</b>
                                          <span class="grey-text text-darken-2">Fryzjer, stylista</span>                         
                  
                                         </div>
                                      </div>

                                      <div class="col s4 l3 center-align" style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <input type="radio" id="radioApple5" name="discount_id_1" value="apple" checked>
                                          <label for="radioApple5">  
                                           kup teraz<br>i zapłać online
                                          <!-- e-płatność -->
                                          </label>
                                      </div>


                                        
                                     
                                    </div>

                                      </div>

                                      
                                      </div>
       
      </div>
    </div>
  </div> 
</div>
<!-- <<< Container -->





<!-- <<< Container --> 





<!-- Container >>> -->
<div class="container">
  <div class="row">
    <div class="col l12 red- lighten-4">
      <div class="panel white row" >
          <div class="col s12 l12 offset-l6- row">
            
             <div class="right-align">
              Do zapłaty <b><span class="total-price">123<span class="pennies">,45 zł brutto</span></span></b> 
            </div>
            <div class="col s12 l4 left-align- center-align" >
            
              <a class="waves-effect waves-light btn- btn-flat primary- secondary-text left-align-l"><i class="material-icons ">arrow_back</i><span style=" ">Wstecz</span></a>
            </div>
            <div class="col s12 l8 right-align- right-col- btn-flat  lighten-3" >
  
              <a class="waves-effect waves-light btn primary right-align-l"><i class="material-icons ">forward</i><span style=" ">Płatność</span></a>
                <br><br>  <br><br> 
            </div>

          </div>
      </div>
    </div>
  </div>
</div>
<!-- <<< Container --> 





 


<script>
$(document).ready(function(){
    //$('select').formSelect();
    //$('.pushpin').pushpin();
    $('.collapsible').collapsible({ accordion: false });
    $('select').formSelect();
    $('.tabs').tabs();

    $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

    

/*
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);

*/



// bind filter button click
$('.filters-button-group').on( 'click', 'button', function() {
  var filterValue = $( this ).attr('data-filter');
  // use filterFn if matches value
  filterValue = filterFns[ filterValue ] || filterValue;
  $grid.isotope({ filter: filterValue });
});
// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});
});
</script>


<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = $("#category-filter");
    filter = $("#category-filter").val().toLowerCase();
    ul = $("#category-list");
    li = $(".category-item");
    li_array = [];    
    if (filter == 'all') {
      $(li).fadeIn(200);
    } else {
      li.fadeOut(0);
      for (i = 0; i < li.length; i++) {
          a = $(li[i]).find(".category-title");
          txtValue = $(a).text();
          if (txtValue.toLowerCase().indexOf(filter) > -1) {
              //$(li[i]).fadeIn(200);
              li_array.push($(li[i]));
          
          }
      }
      console.log(li_array);
      $(li_array).filter(function(){ 
        this.fadeIn(200);
      });

    }
}
$(document).ready(function(){  
  $("#category-filter").change(function(){
      myFunction();
    });





  });
</script>

<script>
var discount_booking = $(".discount_booking");
var discount_buy = $(".discount_buy");
var discount_payment = $(".discount_payment");
var discount_area = $(".discount_area");
var checked_discount_val = $('input[name="radio_discount_type"]:checked').val();
var payment_step = $("#payment_step");
var progress_step_bar = $("#progress_step_bar");
//alert('hello');
//var discount_booking_info = $("#discount_booking_info");
//var discount_buy_info = $("#discount_buy_info");
//var discount_payment_info =  $("#discount_payment_info");
// handle click and add class
$(document).ready(function(){
    
  //initial force off
   $(discount_buy).addClass('unactive');
   $(discount_payment).addClass('unactive');

  //on change


   discount_area.on("change", function(){
    discount_area = $(".discount_area");
    
    checked_discount_val = $('input[name="radio_discount_type"]:checked').val();

      $(discount_buy).removeClass('unactive');
        $(discount_payment).removeClass('unactive');
        $(payment_step).hide();
       

      // comment this line for prevent before change two step in payment //$(progress_step_bar).removeClass('three-step').addClass('two-step');
        //$(discount_booking_info).hide();
        //$(discount_buy_info).hide();
        //$(discount_payment_info).hide();

    if (checked_discount_val == 'discount_booking' ) {
      //alert(true);
        $(discount_buy).addClass('unactive');
        $(discount_payment).addClass('unactive');

        $(payment_step).hide();
        $(progress_step_bar).removeClass('three-step').addClass('two-step');
        //$(discount_booking_info).show();
      } else {
        //alert(false);
       // $(discount_buy).removeClass('unactive');
        //$(discount_payment).removeClass('unactive');
      }

      if (checked_discount_val == 'discount_buy' ) {

        // $(discount_buy).removeClass('unactive');
         //$(discount_buy_info).show();
        $(discount_payment).addClass('unactive');
         $(payment_step).hide();
        $(progress_step_bar).removeClass('three-step').addClass('two-step');
       
      } else {
        //alert(false);
        //$(discount_buy).removeClass('unactive');
        //$(discount_payment).removeClass('unactive');
      }

      if (checked_discount_val == 'discount_payment' ) {
        //$(discount_payment_info).show
        $(payment_step).removeClass("hidden_step");
         $(payment_step).show();
        $(progress_step_bar).removeClass('two-step').addClass('three-step');
              }
    
    //$(this).find('.btn').on("click", function(e){
      //if (e.target !== this)
      //  return;
    //});
    //$(this).find('.content').show();
    //console.log(panel);
    //console.log($(this).class)
//$('.tabs').updateTabIndicator();
        //$('.tabs').tabs('updateTabIndicator');



   
  })
})




</script>

<script type="text/javascript" src="../js/slick/slick.min.js"></script>
<script type="text/javascript" src="../js/freeze-table/freeze-table.js"></script>
<script type="text/javascript" src="../js/isotope/isotope.pkgd.js"></script>
</body>




</html> 
