  <div class="row ">
                        <div class="col s12 m8 offset-m2 l8 offset-l2 card z-depth-4 no-pad- secondary-bg  ">
                          <div class=" white-text-">
                          <h2>Brawo! Dodałeś nową usługę do koszyka rezerwacji <div class="right secondary-bg-"><a class="btn white secondary-text close_modal"><i class="material-icons right-align secondary-text- " style="position:absolute; top:0.5em;right:0.5em;">close</i></a></div></h2>
                          </div>
                          <ul class="collection ">
                              <li class="collection-item switcher- card no-pad no-shadow no-shadow photo panel-expendable-" style="border:bottom:2px solid transparent;">
                                     <%= render partial: 'seo/service_header', locals: {service: @cart_item.service} %>



                                      <div class="col s12 l6 right-col photo-padding switcher-handler- ">
                                        <i class="material-icons icon-summary hide" style="">local_offer</i>
                                        <span class="secondary-text margin-left-50- hide"> tylko rezerwacja</span> 
                                   
                                        <%= configured_employee(@cart_item.employee.name_with_job) %>
                                         
                                           
                                          <div class="employee-photo-mini- grey z-depth-1- circle- light-bg "></div>
                                          
                                          <%= configured_date(@cart_item.starts_at) %><br>            
                  
                                 
                                          <%= configured_starts_at(@cart_item.starts_at) %>  

                                      </div>
                                      <div class="col s12 l6 row  bonus-frame extra extra-m- content- hide-on-small-only-">
                                        
                                        
                                         
                                     
                                    </div>
                            </ul>
                            <div class="col s12 l9 offset-l3 row hide">
                                      <div class="col s12 l7 left-align- center-align- btn-flat" >
                                      
                                        <a class="waves-effect waves-light btn white secondary-text btn-flat- primary- secondary-text left-align-l hide"><i class="material-icons ">add_circle</i><span style=" ">Dodaj kolejną usługę</span></a>
                                         <a class="waves-effect waves-light btn secondary left-align-l"><i class="material-icons ">add_circle</i><span style=" ">Dodaj kolejną usługę</span></a>
                                      </div>
                                      <div class="col s12 l5 right-align- right-col- btn-flat  lighten-3" >
                            
                                        <a class="waves-effect waves-light btn primary right-align-l"><i class="material-icons ">shopping_basket</i><span style=" ">Przejdź do koszyka</span></a>
                                          <br><br>  <br><br> 
                                      </div>

                                    </div>
                       
                            <div class="col s12 l12 offset-l3- row hide-">
                                      <div class="col s12 l7 left-align" >
                                        <a class="waves-effect waves-light btn white secondary-text secondary- close_modal"><i class="material-icons left">add_circle</i> Dodaj kolejną usługę</a>
                                      </div>
                                      <div class="col s12 l5 right-align right-col btn-flat  lighten-3" >
                                        <a class="waves-effect waves-light btn primary lighten-1- hide"> <i class="material-icons left">shopping_basket</i>Przejdź do Koszyka</a>
                                        <%= link_to(cart_path, class: "waves-effect waves-light btn primary") do  %>
                                           <i class="material-icons left">shopping_basket</i>Przejdź do Koszyka
                                        <% end %>
                                      </div>
                                    </div>
                          </div>
                        </div>
                     
</div>
