<div class="row " style="z-index: 9999; ">
  <div class="col s12 m8 offset-m2 l8 offset-l2 card z-depth-4- no-pad- ">

    <h2>Nowa rezerwacja</h2>
      <ul class="collection " >
        <li class="collection-item switcher- card no-pad no-shadow no-shadow photo panel-expendable-" style="border:bottom:2px solid transparent;">
          
          <%= render partial: 'seo/service_header', locals: {service: @cart_item.service} %>
          
          <div class="col s12 l6 row  bonus-frame extra extra-m- content- hide-on-small-only-">
                                        
                                        
            <div class="container-progress-step vertical-align- grey- white pin-bar-s" style="z-index:999;" >
              <ul class="progress-step <%= @cart_item.length_of_step %>">
                                   
                <% @cart_item.steps.first.keys.each do |index| %> 
                             
                <li class=" <%= @cart_item.step_index(index) == @cart_item.current_step_index ? 'in_progress' :" "%>
                            <%= @cart_item.step_index(index) < @cart_item.current_step_index ? 'done' :" "%>
                 <%= @cart_item %>"><i class="material-icons icon"><%= @cart_item.steps.first[index.to_sym][:icon] %></i> <%= @cart_item.steps.first[index.to_sym][:name] %></li>
                <% end %>                                               
              </ul>
            <div class="col s12 l6 offset-l6 row hide show-on-small-only">
              <div class="col s4 l4 left-align-" >
                WSTECZ
              </div>
              <div class="col s8 l8 right-align- right-col- btn-flat  lighten-3" >
                <a class="waves-effect waves-light btn primary lighten-1- center-align"> <i class="material-icons left- center-align">forward</i>Pracownik</a>
             </div>

            </div>
          </div>

<% @cart_item.current_step %> <% @cart_item.this_step.to_s %>


    
                                 <%= render partial: @cart_item.this_step.to_s, locals: { employees: @employees}    %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>



                </div>