

<%= form_with url: cart_item_path(@cart_item), model: @cart_item, method: :put do |f| %>

                                      
                                      <div class="col s12 center-align bonus-label- radio-toolbar employees secondary-text- grey- lighten-2- grey- lighten-3-"> 
                                          <br>
                                      <h3>Wybierz termin</h3>

                                        </div>
                                       
                                   <div class="calendar">
                                         <div class="calendar-header  col s12">
                                           
                                           <%= link_to '<i class="material-icons">navigate_before</i>'.html_safe, date: @date.prev_month, class: 'material-icons' ,remote: true %>
                                            <%= @date.month rescue 'resq' %>
                                           <%= link_to '<i class="material-icons">navigate_next</i>'.html_safe, date: @date.next_month, class: 'material-icons' ,remote: true %>

                                            <%= link_to '<i class="material-icons">navigate_before</i>'.html_safe, date: @date.prev_year, class: 'material-icons' ,remote: true %>

                                             <%= @date.year rescue 'resq' %>
                                           
                                           <a class="material-icons right- hide">navigate_next</a>
                                           
                                           <%= link_to '<i class="material-icons">navigate_next</i>'.html_safe, date: @date.next_year, class: 'material-icons' ,remote: true %>
                                         </div>
                                       <table>
                                         <tr class="days-of-week center-align">
                                            <td></td>
                                            <td>Pn</td>
                                            <td>Wt</td>
                                            <td>Śr</td>
                                            <td>Cz</td>
                                            <td>Pt</td>
                                            <td>Sb</td>
                                            <td>N</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <td>
                                               <a class="material-icons unactive hide">navigate_before</a>
                                               <%= link_to '<i class="material-icons">navigate_before</i>'.html_safe, date: @date.prev_week, class: 'material-icons' ,remote: true %>
                                            </td>
                                           <%= @cart_item.id %>
                                            <%= @service.id  rescue '' %>
                                            <%= @date %><br>
                                            <%= week = @date.beginning_of_week..@date.end_of_week %>
                                            <%= @date.strftime("%A")  rescue 'oo' %><br>

                                            <%= x = OpeningHours.standard.where(openingable_type: 'Company', openingable_id: @service.company.id, day_of_week: @date.strftime("%A")).take rescue 'nil' %>
                                            opened: <%= x.opened rescue '' %><br> closed? <%= x.closed? rescue '' %><br>
                                            od do<%= x.start_time..x.end_time rescue ''%> <br>
                                             all_of_day?<%= x.all_of_day rescue '' %> 
                                            <br>
                                            Teraz jest + 10 minutes <%= now = Time.now + 10.minutes %>
                                            
                                            <br>
                                           STD Comp HOURES <%= @service.company.standard_opening_company_at(@date)  rescue '' %>
                                           <br>
                                           NSTD Comp HOURES <%= @service.company.non_standard_opening_company_at(@date) rescue '' %><br>

                                           CALC Comp HOURES <%= @service.company.company_opening_at(@date) rescue ''%>

                                            <br>
                                            STD Empl HOURES <%= @employee.standard_opening_employee_at(@date) rescue '' %><br>
                                            NSTD Empl HOURES <%= @employee.non_standard_opening_employee_at(@date) rescue '' %><br>
                                           

                                            Calc Empl HOURES<%= @employee.employee_opening_at(@date) rescue '' %><br>

                                            TEST STEP <% @employee.avaliable_slots(@date)  rescue 'nil' %>
                                            
                                            <% week.each do |day| %>
                                            <td>
                                              <%=  %>
                                              <%= link_to "<div class='icon #{day == @date ? 'active' : ''} #{day.past? ? 'busy' : ''} #{ @service.company.company_opening_at(day) == 'closed'  ? 'busy' : '' rescue ''}'>#{day.day}</div>".html_safe, date: day, remote: true %>
                                            </td>
                                            <% end %>
                                            <div class='hide'>
                                              
                                          </div>
                                            <td>
                                               <a class="material-icons right- hide">navigate_next</a>
                                               <%= link_to '<i class="material-icons">navigate_next</i>'.html_safe, date: @date.next_week, class: 'material-icons' ,remote: true %>
                                            </td>
                                          </tr>
                                          
                                        </table>

                                     </div>



                                  
                                  <div class="col s12 offset-l6- l12 center-align min-40-">
                                          <div class="col s12  center-align" >
                                          </div>
                                        </div>

                                    <div class="col s12 l12s row radio-toolbar employees- calendar-hours " style="max-height:250px; overflow-y:auto;">
                                      
                                      <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                       <span class="houres_cat grey-text">do 12:00</span>
                                       
                                           
                                        <% if @employee != nil && @employee.avaliable_slots(@date) != 'zero' %>
                                          <%= @employee.avaliable_slots(@date)[:before_midnight].each do |slot|  %>
                                          <%= f.radio_button :starts_at, slot, id: "#{slot}" rescue '' %>
                                          <%= f.label slot.strftime("%H:%M"), for: "#{slot}", class: 'standard' rescue '' %>
                                       <% end %>

                                        

                                        

                                        <% else %>

                                          <p><span class="grey-text"><br> brak wolnych terminów</span></p>

                                        <% end %>


                                      
                   
                                         

                                          
                                      </div>

                                      <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <span class="houres_cat grey-text">12:00-16:00</span>
                                      
                                      <% if @employee != nil && @employee.avaliable_slots(@date) != 'zero' %>
                                          <% @employee.avaliable_slots(@date)[:between_midnight_and_sixteen].each do |slot|  %>
                                          <%= f.radio_button :starts_at, slot, id: "#{slot}" rescue '' %>
                                          <%= f.label slot.strftime("%H:%M"), for: "#{slot}", class: 'standard' rescue '' %>
                                       <% end %>

                                        

                                        

                                        <% else %>

                                          <p><span class="grey-text"><br> brak wolnych terminów</span></p>

                                        <% end %>

                                          
                                      </div>


                                      <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                        <span class="houres_cat grey-text">Od 16:00</span>
                                      
                                      <% if @employee != nil && @employee.avaliable_slots(@date) != 'zero' %>
                                          <% @employee.avaliable_slots(@date)[:after_sixteen].each do |slot|  %>
                                          <%= f.radio_button :starts_at, slot, id: "#{slot}" rescue '' %>
                                          <%= f.label slot.strftime("%H:%M"), for: "#{slot}", class: 'standard' rescue '' %>
                                       <% end %>

                                        

                                        

                                        <% else %>

                                          <p><span class="grey-text"><br> brak wolnych terminów</span></p>

                                        <% end %>

                                          
                                      </div>

                                          


                                    
                                    
                                      
                            


                                    
                          
                                    
                                      
                                      <!-- -->
                                      

                                     
                                


                                      
                                          
                                

                                      </div>

                            <div class="col s12 l6- offset-l6- row">
                                      <div class="col s12 l6 left-align- center-align" >
                                       
                                        
                                         <%= link_to_previous_step(f) %>
                                      </div>
                                      <div class="col s12 l6 right-align right-col- btn-flat  lighten-3" >
                                       <%= f.button "rezerwuj", class: "btn primary open_modal-" do %>
                                          <i class="material-icons left ">forward</i> Zakończ
                                        <% end %>

                                      
                                          <br><br>  <br><br> 
                                      </div>

                                    </div>

                                    <% end %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>



                </div>