                    
                               
                                      <div class="col s12 center-align bonus-label- radio-toolbar employees secondary-text- grey- lighten-2- grey- lighten-3-"> 
                                          <br>
                                      <h3>Wybierz pracownika</h3>

                                        </div>
                                                     <%= form_with url: cart_item_path(@cart_item), model: @cart_item, method: :put do |f| %>    
                                        <div class="radio-toolbar">
                                          


                                    
                                     
                                      
                                  

                                    <div class="col s12 l12s row radio-toolbar employees" style="max-height:200px; overflow-y:auto;">
                                     
                                       
                                       <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                         <%= f.radio_button :employee_id, nil, id: "employee_id-custom" %>
                                          <%= f.label :employee_id, for: "employee_id-custom", class: 'center-align' do %>
                                          
                                            <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          <% end %>

                                          <div class="center-align "> 

                          
                                          <b>Dowolny pracownik</b>
                        
                  
                                         </div>
                                      </div>

                                        <% employees.each do |employee| %>
                                      <!-- -->
                                      <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                         <%= f.radio_button :employee_id, employee.id, id: "employee_id-#{employee.id}" %>
                                          <%= f.label :employee_id, for: "employee_id-#{employee.id}", class: 'center-align' do %>
                                          
                                          <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          <% end %>

                                          <div class="center-align "> 

                          
                                          <b><%= employee.full_name %></b>
                                          <span class="grey-text text-darken-2"><%= employee.job_occupation %></span>                         
                  
                                         </div>
                                      </div>
                                        <% end %>
                                      
                                      <!-- -->
                                      


                                        
                                     
                                    </div>

                                      </div>

                            <div class="col s12 l6- offset-l6- row">
                                      <div class="col s12 l6 left-align- center-align" >
                                       
                                      
                                        <%= link_to_previous_step(f) %>
                                      </div>
                                      <div class="col s12 l6 right-align right-col- btn-flat  lighten-3" >
                                       <%= f.button "rezerwuj", class: "btn primary open_modal-" do %>
                                          <i class="material-icons left ">forward</i> Termin
                                        <% end %>

                                      
                                          <br><br>  <br><br> 
                                      </div>

                                    </div>

                                    <% end %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>



                </div>