//alert('ok');
//open_modal();

$('#modal').html("<%= j (render partial: 'cart_items/configured') %>");
$('#cart').html("<%= j (render partial: 'carts/cart') %>");
//alert('ok');
$('.close_modal').click(function() {
      $("body").css("overflow", "auto");
      $('#overlay').fadeOut();
      
    });