//alert('ok');
//open_modal();
$('#cart').replaceWith('<%= j render "carts/cart" %>');
$('#modal').html("<%= j (render partial: 'current_step', locals: {employees: @employees}) %>");
//alert('ok');
$('.close_modal').click(function() {
      $("body").css("overflow", "auto");
      $('#overlay').fadeOut();
      
    });