<div class="row " style="z-index: 9999; ">
  <div class="col s12 m8 offset-m2 l8 offset-l2 card z-depth-4- no-pad- ">

    <h2>Nowa rezerwacja</h2>
      <ul class="collection " >
        <li class="collection-item switcher- card no-pad no-shadow no-shadow photo panel-expendable-" style="border:bottom:2px solid transparent;">
          
          <%= render partial: 'seo/service_header', locals: {service: @cart_item.service} %>

          <div class="col s12 l6 row  bonus-frame extra extra-m- content- hide-on-small-only-">
                                        
                                        
            <div class="container-progress-step vertical-align- grey- white pin-bar-s" style="z-index:999;" >
              <ul class="progress-step four-step-  two-step">
                                             
                <li class="active1- in_progress "><i class="material-icons icon" style="">person</i> Pracownik</li>
                <li class="active1- in_progress-"><i class="material-icons icon" style="">event</i> Termin&nbsp;</li>
                <li class="active1- in_progress- hide"><i class="material-icons icon" style="">shopping_cart</i> Koszyk&nbsp;</li>
                                                
              </ul>
            <div class="col s12 l6 offset-l6 row hide show-on-small-only">
              <div class="col s4 l4 left-align-" >
                WSTECZ
              </div>
              <div class="col s8 l8 right-align- right-col- btn-flat  lighten-3" >
                <a class="waves-effect waves-light btn primary lighten-1- center-align"> <i class="material-icons left- center-align">forward</i>Pracownik</a>
             </div>

            </div>
          </div>

<%= @cart_item.current_step %> <%= @cart_item.this_step %>



                                      
                                      <div class="col s12 center-align bonus-label- radio-toolbar employees secondary-text- grey- lighten-2- grey- lighten-3-"> 
                                          <br>
                                      <h3>Wybierz pracownika</h3>

                                        </div>
                                       
                                        <div class="radio-toolbar">
                                          


                                    
                                     
                                      
                                  

                                    <div class="col s12 l12s row radio-toolbar employees" style="max-height:200px; overflow-y:auto;">
                                      <%= form_with url: cart_item_path(@cart_item), model: @cart_item, method: :put do |f| %>
                                       
                                       <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                         <%= f.radio_button :employee_id, nil, id: "employee_id-custom" %>
                                          <%= f.label :employee_id, for: "employee_id-custom", class: 'center-align' do %>
                                          
                                            <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          <% end %>

                                          <div class="center-align "> 

                          
                                          <b>Dowolny pracownik</b>
                        
                  
                                         </div>
                                      </div>

                                        <% employees.each do |employee| %>
                                      <!-- -->
                                      <div class="col s4 l4 center-align " style="border-top:0px solid #00acc1; padding-top: 4px !important">
                                         <%= f.radio_button :employee_id, employee.id, id: "employee_id-#{employee.id}" %>
                                          <%= f.label :employee_id, for: "employee_id-#{employee.id}", class: 'center-align' do %>
                                          
                                          <div class="employee-photo z-depth-1- circle light-bg "></div>
                                          <% end %>

                                          <div class="center-align "> 

                          
                                          <b><%= employee.full_name %></b>
                                          <span class="grey-text text-darken-2"><%= employee.job_occupation %></span>                         
                  
                                         </div>
                                      </div>
                                        <% end %>
                                      
                                      <!-- -->
                                      
<%= f.submit "rezerwuj", class: "btn primary open_modal-" do %>
                                          <i class="material-icons ">forward</i> Termin
                                        <% end %>

                                        
                                     
                                    </div>

                                      </div>

                                      
                                      </div>
                            </ul>
                            <div class="col s12 l6 offset-l6 row">
                                      <div class="col s12 l4 left-align- center-align" >
                                       
                                        <a class="waves-effect waves-light btn- btn-flat primary- secondary-text left-align-l  close_modal"><i class="material-icons ">arrow_back</i><span style=" ">Wstecz</span></a>
                                      </div>
                                      <div class="col s12 l8 right-align- right-col- btn-flat  lighten-3" >
                                       

                                      
                                          <br><br>  <br><br> 
                                      </div>

                                    </div>

                                    <% end %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>



                </div>