/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//@import "materialize/components/color-variables";



//$primary-blue: color("blue", "darken-4"); 
//$secondary-blue: color("blue", "base");
//$orange-4: color("orange", "darken-2");
//@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

//.primary-test {background-color: $primary-color;}
//.secondary-test {background-color: $secondary-color;}

//@import 'materialize.css';
.primary { background: #ff7b25; }
.secondary { background:#00acc1; }
.dark { background: #353C3F;  }
.light { background: #D5D6D2; }

$primary : #ff7b25; 
$secondary :#00acc1; 
$dark : #353C3F;  
$light : #D5D6D2; 

.primary-btn {
	background-color: $primary !important;
	&:hover{ background-color: $primary !important; }
}

.dark-brown { background: #756867;  }
//.secondary { background:#756867; }
.light-bg { background: #D5D6D2; }
//.cyan { background:#00acc1; }
//.yellow { background:#feb236; }
//.rose { background:#d64161; }
//.green { background:#8bc34a; }

.primary-text { color: #ff7b25; }
.dark-text { color: #353C3F; }
.dark-brown-text { background: #756867;  }
.secondary-text { color:#756867; }
.light-text { color: #D5D6D2; }
.secondary-text { color:#00acc1; }

#overlay {
	position: fixed;
	width:100%;
	height:100%;
	background-color: gray;
	background-color:rgba(200, 200, 200, 0.7);
	z-index:999;
	display:none;
	overflow-y: auto;
}

#modal {
	z-index:9999;
	opacity:1;
	//background-color:white;
	//overflow:auto;
	position:absolute;
	width:100%;

}

/*
h1 {font-size: 42px; font-weight:bold;  } 
h2 {font-size: 24px; margin-top:0; font-weight:400;}
*/
.container-div {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}
.background {
height: 550px;
  min-width: 100%;
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: -1;
  	 background: image-url('500_F_81589827_CfOo9MMFOfDstmeQr1n8Vce0Nf2uN8VP.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

 // @extend .primary-test;
}
.pricing-table {
	//position:relative;
	//top:-200px;
	//@extend .z-depth-2  ;

	margin-top:30px;
	margin-bottom:0;
	border-top: 2px solid white;
	
	.row {
		margin:0; padding:15px 10px !important;
		border-bottom: 1px solid $light;

		&.no-divider {
			border-bottom: 0;
		}

		&.no-padding {
			padding: 0 !important;
		}

		&.no-padding-top {
			padding-top: 0 !important;
		}
	}

	.col {
		
	}

	.hoverable {
		//margin-bottom:0;
		opacity:0.8;
		padding:0.75rem 0.75rem  !important;
		 transition: 300ms;
		&:hover {opacity:0.95; transition: 300ms;}
		//.col {padding: 0 0.75rem;}
		//&:hover { @extend  .orange, .lighten-4; }
	}

	.bestseller {
		font-size:14px; 
		background-color: $secondary;
				display:block;
		position:relative;
		top:-77px;
		float:right;
		padding:5px;
		width:100%;
		z-index:99 !important;

	}

	.bestseller-frame {
		border:4px solid $secondary;
		background: white;
	}

	//label {padding:0;}

	.row {padding: 0 10px 0.75rem;  }
	.plan_name {padding:5px 15px !important;}

}
.number { font-size: 1.3rem; }
.infinity {
	
	color: $secondary;
	transition: color 600ms;
	&:hover { @extend .primary-text;
		transition: color 200ms;
	}

}

.plan_name {
	padding: 0 !important;
	font-size: 1.64rem;
	margin: 0 auto;

	.col { text-align:center; display:block; }

}

.column {
	margin-top:15px !important;
	z-index: 99 !important;
}

.jumbo {
	width:100%;
	height:200px;
	height:auto;
	//@extend    .center-align;
	//color: white;
	//padding:0 1rem;
	//padding: 1rem 0;
	margin:0;
	margin-top:10px;
	padding: 5px;
	padding-top: 5px;
	//opacity:0.5;
	//background: $primary-color !important;
	//@extend .primary-test;
	//background-color: $primary-blue !important;
	color: white;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));



}

//td {padding: 10 5;}

ul.dropdown-content.select-dropdown li span {
   // color: $primary-color; /* no need for !important :) */
}

/* label focus color */
 .input-field input:focus + label {
  // color: $primary-color !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
 //  border-bottom: 1px solid $primary-color !important;
 //  box-shadow: 0 1px 0 0 $primary-color !important
 }

.material-tooltip .backdrop{
	background-color: #DB0000;
}

.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  @extend .primary ;
  //border-radius: 25%;
  color: #fff;
  min-height: auto !important;
  opacity: 0.6;
  
  @exend .primary;
 
}

tr {padding:10px;}

.toast {
	min-height: auto !important;
}


.mini_form {

	max-width:300px;
	
	margin: 0 auto;
	//margin-top:2em;
	//@extend .z-depth-2;

	.header {
		padding:5px 15px ;
		padding-top:15px;
		text-align:center;
	//	@extend .orange, .white-text;
	}

	.input-field{
		width:80%;
		margin-left: auto;
		margin-right: auto;
	}
	.actions {
	//	@extend .center-align;
		margin-bottom:10px;
	}
}

.add_to_cart {
	font-size:13px;
	@extend .primary;
	&.hover {
	  background-color: lighten($primary, 15%) !important;	}
}



.navbar-fixed {
	position:fixed;
	margin:0;
	top:0;
	z-index:999;
	//@extend .white;

}

.brand-logo {
	//margin-left:5px;
}

.menu-mobile-margin {
	margin-left:18px;
	margin-right:18px;
}

.nav-wrapper {
	btn-flat {
	//	color: $primary-color;
	}
	a {
	//			color: $primary-color;
			}
	ul {
		li {
			&:hover {
			//@extend .orange, .lighten-5;
			}
			a {
	//			color: $primary-color;
			}
		}
	}

	.btn-large {
		margin: 0 ;
		margin-top:-2px;

	}

	.indent {
		margin-right:-8px;
	}
}


.basket {
	.row {margin-bottom: 0 !important;  padding: 15px 5px ;

		
			
		}
	.header {
			.col {font-weight: 500;}
			}
	.row-item {
		border-bottom: 1px solid $light;
		&:first-child {
 			background-color: yellow;
			border-top: 1px solid $light;
		}
	}
}

.dropdown-content .select-dropdown{
	z-index:9999 !important;
}




.margin-10 {
	margin: 10px !important;
}



h1 {
	font-size:30px;
}

.clear {
	@extend .light-text;
	transition: all 500ms;
	&:hover {
		color: red;
		transition: all 500ms;
	}
}

.collection-item {
	//border: 1px solid $light;
	min-height:20px !important;
	margin:0;
	padding:10px;

	&.first { border-bottom:0; }

	.secondary-text {
		margin:0;

	}
}

#cart_content {
	.row {margin-bottom: 0 !important;
		.collection-item {
			padding: 10 10px;
		}
	}
}

.collection {
	.collection-item {
	padding: 10 20px !important;
	
	border-bottom: 1px solid $light;
	
	}

	&.borderless {
		border:0 !important;
	}
	border-top: 2px solid $light;
	
}

.container-margin-10 {
	padding: 0 10px !important;
}

.padding-15 {
	//padding:15px 0;

}
.cart-valign {
		margin-top: 10px;
	}

.select-valign {
		padding-top: 0px;
	}


.progress-step li.active1::after
{
	background-color: $primary !important;
}


.hero_image {														   
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/assets/landing_page_ambadasor/asia3.png) !important;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

.panel {
	cursor: default !important;

	&.clickable {
	cursor: pointer;
	}
}

.container:last-child {
	border-bottom:none !important;
}