// Place all the styles related to the BusinessCarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-size {
	border-radius:50%;
	color:white;
	height:20px;
	width:20px;
	line-height:16px;
	padding:2px;
	font-size:14px;
	
	position:relative;
	top:-26px;
	left:16px;
	z-index: 9999;
	text-align:center;
	
}