
        <div id="plan_<%=plan.id%>" class="column white- col s12 m3 l3 hoverable- row left-align <%= plan.id == 3 ? 'z-depth-4 bestseller-frame' : '' %> ">

          
          <div class=" white-text center-align">
            
            <div class="col s12 plan_name blue darken-<%=plan.id%>">
              <%= plan.name %>
                
            </div>
            <%= plan.id == 3 ? '<div class="bestseller">Najczęściej wybierany </div>'.html_safe : '<div class="bestseller" style="visibility:hidden;"> &nbsp;</div>'.html_safe %>
          </div>
          <div class="row white blue-text  text-darken-<%=plan.id%>">
            <div class="col s12">
              <span style="font-size: 30px;"><%= plan.price.to_i %> zł / 
                <span style="font-size:16px;">miesiąc</span><br>
              </span>
            </div>
          </div>
          <div class="row white">
            <div class="col s12">
              <span class="blue-text text-darken-<%=plan.id%> number"><%= plan.sms_limit %></span>
               smsów</div>
             </div>
          <div class="row white">
            <div class="col s12">
              <span class="blue-text text-darken-<%=plan.id%> number"><%= plan.email_limit %></span>
               emaili</div>
             </div>
          <div class="row white">
            <div class="col s12">
              <span><%= infinity %> rezerwacji</span>
            </div>
          </div>
          <div class="row white">
            <div class="col s12">
              <span><%= infinity %> pracowników</span>
            </div>
          </div>
          <div class="row white">
            <div class="col s12">
              <span><%= infinity %> usług</span>
            </div>
          </div>
          
          <%= form_with url: business_cart_items_path, method: :post  do |f| %>

          <div class="row white no-divider no-padding">
            <div class="input-field col s12">

            <% unless current_business_cart.test_period_in_business_cart? %>
                <% f.select :period, options_for_select(
              select_all_time_options_plan) %>
              <%= f.collection_select(:subscription_id, plan.subscriptions, :id, :calculate_time_to_human) %>
            <% else %>
                  <%= f.select :period, options_for_select(
              select_pay_time_options_plan) %>
calculate_time_to_human
            <% end %> 
             <%= f.label 'Okres abonamentowy', for: 'period' %>
             
              <%= f.hidden_field :plan_id, value: plan.id %>
              <% f.number_field :quantity, value: 1, class: "number-tag", min: 1 %>
            </div>
          </div>

          <div class="row white center-align no-divider no-padding-top">
            <div class="center-align">
            <% unless in_businees_cart?(plan.id) %>
              <%= f.button nil, class: "btn-large waves-effect waves-light orange- accent-3- add_to_cart-  ", onclick:"M.toast({html: 'Dodano do koszyka'})" do %>
               <i class="material-icons left white-text cart_icon">local_grocery_store</i>Do&nbsp;koszyka 
              <% end %>
            <% else %>
              <%= f.button nil, class: "btn-large disabled  " do %>
               <i class="material-icons left cart_icon">local_grocery_store</i>W&nbsp;koszyku 
              <% end %>
            <% end %>
            </div>
          </div>
            <% end %>


        </div>
