<% content_for :menu do %> <%= render 'layouts/business_navbar'%> <% end %>
<% 'SEO FRIENDLY' %>
<div class="jumbo center-align">
  <h1>Cennik</h1>
  <h2>Wybierz pakiet dla Twojego biznesu i zyskuj nowych klientów!</h2>
</div>
<div class="">
  <div class="container white-">
    <div  class=" row pricing-table ">
      <div id="plans_area">
        <%= render @plans %>
        </div>
    </div>
  </div>
</div>
<div class="background"></div>

<h2>Hello</h2>


             <div class="container">
  <div class="row">
    
  </div>     
</div>
      


<div class="primary white-text" ><br>Primary&nbsp;</div>
<div class="secondary white-text" ><br>Secondary&nbsp;</div>
<div class="dark white-text" ><br>Dark&nbsp;</div>
<div class="light black-text" ><br>Light&nbsp;</div>