<% content_for :menu do %> <%= render 'layouts/business_navbar_step_progress'%> <% end %>
<div class="light-bg- container-">
  <div class="margin-10- white-">
  <h1 class="dark-text "><div class="section-title dark-text"><span class=""></span> Twoje konto</div></h1>

<div class="container secondary-">
  <div class="mini_form row z-depth-1- white">
    <div class="header- col s12 hide- secondary- secondary-text center-align"><h2>Rejestracja</h2></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-field col s12">
      <%= f.text_field :login, autofocus: true, autocomplete: "login", class: "validate" %>
      <%= f.label :login %>

    </div>

    <div class="input-field col s12">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "validate" %>
      <%= f.label 'email' %>
      <%= devise_error_messages!['login'] %>
      
    </div>

    
    <div class="input-field col s12">
      <%= f.password_field :password, class: "validate", id: 'password' %>
      <%= f.label 'hasło', for: 'password' %>
    </div>



    <div class="input-field col s12">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "validate", id: 'passwordc' %>
      <%= f.label 'Potwierdź hasło', for: 'passwordc' %>
    </div>

    <div class="input-field col s12">
     <% if @minimum_password_length %>
      <em><% @minimum_password_length %><% 'znaków minimum)' %></em>
      <% end %>
    </div>

    

    <div class="actions col s12 center-align">
      <%= button_tag 'ASD', class: "btn-large waves-effect waves-light" do %>
      <i class="material-icons left white-text cart_icon">navigate_next</i> Potwierdzenie
      <% end %>
    </div>
  <% end %>

  </div>
</div>
<% render "managers/shared/links" %>
