<nav style="position:fixed; z-index:999; margin-bottom:64px;">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons green-text text-ligten-3">lock</i></a></li>
        
      </ul>
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li> <a href="collapsible.html" class="btn-floating waves-effect waves-light grey center-align" style="font-size: 1.4em;">AZ</a></li>
      </ul>
    </div>
  </nav>
      <!-- Navbar goes here -->

    <!-- Page Layout here -->
    <div class="row"  >

      <div class="col s3 l2 blue-grey darken-4" style="padding:0px !important; position: fixed; margin-top:64px;">
        
        
        <nav class="z-depth-0">
          <div class="nav-wrapper" style=" width:100% !important; ">
            
            <ul class="row" style="display:block; width:100%; margin: 0 !important;">
              <li class="col s12 blue-grey" style="padding:0px !important"><span><a href="/admin/pages"><i class="material-icons left" >content_copy</i><i class="material-icons right  blue-grey-text" style="position:relative; left:45px; font-size:50px;">play_arrow</i>Strony</a><div ></div></span></li>
              <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">collections</i>Media</a></li>
              <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">subscriptions</i>Slidery</a></li>
               <li><div class="divider white-text white"></div></li>

              <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">vertical_align_top</i>Nagłówki</a></li>
              
              <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">menu</i>Menu</a></li>
               <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">vertical_align_bottom</i>Stopka</a></li>
               <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">chat_bubble_outline</i>Formularze</a></li>
               
                <li class="col s12" style="padding:0px !important"><a href="badges.html"><i class="material-icons left" style="padding:0px !important">account_circle</i>Moje konto</a></li>
            </ul>
          </div>
        </nav>
            

        <!-- Grey navigation panel -->
        
      </div>

      <div class="col s9 l10 offset-s3 offset-l2 ">
        <nav class=" white blue-grey-text text-darken-3 z-depth-0">
        

          
      </nav>
        <%= yield %>
      </div>

    </div>