 <nav class="navbar-fixed white">
    <div class="nav-wrapper" style="z-index:99999;  ">
      <a href="#" class="brand-logo left hide-"><div class="valign-wrapper">
          <%= render 'layouts/svgs/rezervi_logo' %><span class="primary-text">rezervi&trade;</span></div></a>

  <% if current_business_cart && current_business_cart.cart_size > 0 %>
    <div class="container-progress-step vertical-align-" style="z-index:999;" >
        <ul class="progress-step three-step">
            <li class="active1"> <i class="material-icons icon small" style="">shopping_basket</i>Twój Koszyk</li>

            <li class="active1"><i class="material-icons icon" style="">account_circle</i>Twoje Konto</li>
            <li ><i class="material-icons icon" style="">monetization_on</i> Potwierdzenie</li>
        </ul>
    </div>
  <% end %>    
      <ul id="nav-mobile" class="right hide-on-med-and-down- left-align">

        

 

        
        <li  class="hide-">
          <%= link_to business_carts_path, class: "btn-floating btn-large white waves-effect waves-grey btn-flat indent" do  %>
           <div ><%= render '/layouts/svgs/cart' %></div>
           <% end %>
        </li>
        <li><a href="#"><i class="material-icons grey-text indent">business_center</i></a></li>
        <li><a href="#"><i class="material-icons grey-text active">menu</i></a></li>
      </ul>
    </div>
  </nav>



        

  

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Twój koszyk</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" data-turbolinks="false" class="modal-close waves-effect waves-green btn-flat">Zamknij</a>
    </div>
  </div>


