  <nav id="cart_navbar" class="navbar-fixed white hide-" style="position:fixed; margin-bottom:60px; padding:1rem-; width:100% !important;  ">
    <div class="nav-wrapper row-100 white" style="z-index:99999; max-width:1201px;">
      <a href="#" class="brand-logo left hide-"><div class="valign-wrapper">
          <svg id="logo" width="50" height="55" style="background-color:red-;">

   
   <circle id="circle" cx="25" cy="30" r="0" stroke="gray" stroke-width="5" fill="transparent"  />
   <line id="line-white" x1="25" y1="30" x2="25" y2="30" style="stroke:white;stroke-width:7.5" transform="rotate(0  25 25)" transform="origin(25 30)" />
   
   <line id="line-big" x1="25" y1="30" x2="25" y2="30" style="stroke:#00acc1 ;stroke-width:2.5" />
   
    <line id="line-big-accent" x1="25" y1="30" x2="25" y2="30" style="stroke:gold; stroke-width:2.5" />
 
 
  
    <line id="line-small" x1="15" y1="30" x2="15" y2="30" style="stroke:#00acc1 ;stroke-width:2.5 " />
   
   <line id="line-small-accent" x1="15" y1="30" x2="15" y2="30" style="stroke:gold;stroke-width:2.5 " />
   
   
        <animate 
           xlink:href="#circle"
           attributeName="r"
           from="2"
           to="20" 
           dur="100ms"
           begin="300ms"
           fill="freeze" />
  
        <animate 
           xlink:href="#circle"
           attributeName="stroke-width"
           from="2"
           to="5" 
           dur="100ms"
           begin="400ms"
           fill="freeze" />
        
           
           <animateTransform 
                xlink:href="#line-white"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="500ms"
                    fill="freeze"/>
           
           <animateTransform 
                xlink:href="#line-big"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
                     <animateTransform 
                xlink:href="#line-big-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
           <animateTransform 
                xlink:href="#line-small"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
                     <animateTransform 
                xlink:href="#line-small-accent"
                attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 30"
                    to="45 25 30"
                    dur="200ms"
                begin="700ms"
                    fill="freeze"/>
                    
           <animate 
           xlink:href="#line-small"
           attributeName="x2"
           from="15"
           to="26" 
           dur="150ms"
           begin="1100ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#line-small-accent"
           attributeName="x2"
           from="15"
           to="26" 
           dur="100ms"
           begin="1500ms"
            />
           
           <animate 
           xlink:href="#line-big"
           attributeName="y2"
           from="30"
           to="1" 
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#line-big-accent"
           attributeName="y2"
           from="30"
           to="1" 
           dur="100ms"
           begin="1700ms"
            />
           
           <animate 
           xlink:href="#line-white"
           attributeName="y2"
           from="30"
           to="5" 
           dur="300ms"
           begin="1300ms"
           fill="freeze" />
           
           
           
           <animate 
           xlink:href="#circle"
           attributeName="stroke"
           from="blue"
           to="silver" 
           dur="300ms"
           begin="200ms"
           fill="freeze" />
           
            <animate 
           xlink:href="#circle"
           attributeName="stroke"
           from="silver"
           to="#ff7b25" 
           dur="300ms"
           begin="600ms"
           fill="freeze" />
   Sorry, your browser does not support inline SVG.
    </svg><span class="brand-text primary-text">rezervi<span class="trade">&trade;</span></span></div></a>
    <% step = action_name %>
    <% case step %>
    <% when 'show', 'set_kind' %>
          <div class="container-progress-step vertical-align- grey- white pin-bar-s" style="z-index:999;" >
            <ul id="progress_step_bar" class="progress-step <%= @cart.prepayment? ? 'three-step': 'two-step' %>  four-step-">
                <li class="in_progress done-"> <i class="material-icons icon " style="">shopping_basket</i>Koszyk</li>

                <li class="active1- in_progress hide"><i class="material-icons icon" style="">local_offer</i> Bonusy</li>
                <li class="active1- in_progress-"><i class="material-icons icon" style="">event_available</i> Podsumowanie&nbsp;</li>
                <% if @cart.prepayment? %>
                <li id="payment_step" class="active1- in_progress-"><i class="material-icons icon" style="">payment</i> Płatność&nbsp;</li
                  >
                  <% end %>
                
            </ul>
          </div>
    <% when 'resume' %>
          <div class="container-progress-step vertical-align- grey- white pin-bar-s" style="z-index:999;" >
            <ul id="progress_step_bar" class="progress-step <%= @cart.prepayment? ? 'three-step': 'two-step' %>  four-step-">
                <li class="in_progress- done"> <i class="material-icons icon " style="">check_circle</i>Koszyk</li>
                <li class="active1- in_progress"><i class="material-icons icon" style="">event_available</i> Podsumowanie&nbsp;</li>
                <% if @cart.prepayment? %>
                <li id="payment_step" class="active1- in_progress-"><i class="material-icons icon" style="">payment</i> Płatność&nbsp;</li
                  >
                  <% end %>
                
            </ul>
          </div>
    <% when 'third' %>

    <% end %>

      <ul id="nav-mobile" class="right hide-on-med-and-down- ">


                                                
        

 
        <li><a href="#" class="hide btn-floating btn-flat secondary btn-large- waves-effect- waves-light- red-text-"><i class="material-icons red-text-">event</i></a></li>
        <li><a href="#" class="hide btn-floating btn-flat primary btn-large- waves-effect- waves-light- red-text-"><i class="material-icons red-text-">shopping_basket</i></a></li>
        <li><a href="#" class="btn-floating btn-flat default"><i class="material-icons">account_circle</i></a></li>
        <li><a href="#" class="sidenav-trigger btn-floating btn-flat default "><i class="material-icons dark-text- active-">menu</i></a></li>
        <li  class="hide">
          <a class="btn-floating btn-large white waves-effect waves-grey btn-flat "><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35px" height="56px"  version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 2.05 1.74"
         xmlns:xlink="http://www.w3.org/1999/xlink">
         <defs>
          <style type="text/css">
           <![CDATA[
            .fil0 {fill:none}
            .fil1 {fill:#ff7b25 }
            .fil2 {fill:#00acc1}
           ]]>
          </style>
         </defs>
         <g id="Warstwa_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"/>
          
          <path class="fil1" d="M1.52 0.64l-0.41 -0.6c-0.01,-0.03 -0.04,-0.04 -0.07,-0.04 -0.03,0 -0.06,0.01 -0.08,0.04l-0.4 0.6 -0.44 0c-0.05,0 -0.09,0.04 -0.09,0.09 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.05 -0.04,-0.09 -0.09,-0.09l-0.44 0zm-0.76 0l0.28 -0.4 0.27 0.4 -0.55 0z"/>
          <circle class="fil2" cx="1.04" cy="1.2" r="0.54"/>
          <path class="fil1" d="M0.08 0.65c-0.03,0.01 -0.05,0.05 -0.05,0.08 0,0.01 0,0.02 0,0.03l0.24 0.85c0.02,0.07 0.09,0.13 0.17,0.13l1.19 0c0.09,0 0.16,-0.06 0.18,-0.13l0.23 -0.85 0.01 -0.03c0,-0.03 -0.02,-0.07 -0.05,-0.08l-1.92 0z"/>
         </g>
        </svg></a>
        </li>
      </ul>
    </div>
  </nav>