<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <meta name="robots" content="noindex, nofollow">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rezervi&trade;</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="overlay">
    <div id="modal"></div>
  </div>
  <!--  Breadcrumbs start-->
 
  <!--  Breadcrumbs end-->
  <%= yield :menu  %>
    <div style="margin-top:64px;"></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
